.bsdForm .form-group > div.no-border{
    width: initial;
}
.bsdForm .form-group > div.textarea-box{
    width: 536px;
    height: 120px;
}
.bsdForm .form-group > div.textarea-box textarea{
    height: 100%;
}
.bsdForm .form-group-sel > div.selBox > span{
    padding-left: 0px;
}
.line span{
    font-size: 12px;
}
.line{
    display: inline-block;
    width: 160px;
}