/*进件历史 样式*/
div{
    padding: 0;
    margin: 0;
}
.into-pieces-box {
    width: 100%;
    background: #fff;
    padding-bottom: 50px;
}

.into-title {
    line-height: 40px;
    color: #f9af77;
    padding-left: 50px;
}

.pieces-body {
    width: 100%;
}

.into-pieces-box .pieces-num {
    width: 82%;
    margin: 0 auto;
    display: table;
}

.into-pieces-box .pieces-num li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 0;
}

.into-pieces-box .pieces-num li p {
    font-size: 12px;
    color: #333333;
}

.pieces-num .start-process .first-img span,
.pieces-num .middle-process .first-img span {
    display: inline-block;
    width: calc(100% - 46px);
    border-bottom: 3px solid #FF8F18;
    font-size: 18px;
}

.pieces-num li.current-process .first-img span {
    display: inline-block;
    width: calc(100% - 85px);
    border-bottom: 3px dotted #FF8F18;
}

.pieces-num li.current-process p {
    color: #FF8F18;
    margin-top: 7px !important;
}

.pieces-num li p {
    margin-top: 12px;
}

.pieces-num li.current-process .first-img:after {
    content: ">";
    display: inline-block;
    color: #FF8F18;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}

.pieces-num li.unfinsh-process .first-img span {
    display: inline-block;
    width: calc(100% - 66px);
    border-bottom: 3px dotted #D2D2D2;
}

.pieces-num .unfinsh-process .first-img:after {
    content: ">";
    display: inline-block;
    color: #D2D2D2;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}

.into-pieces-content {
    margin-top: 23px;
    background: #fff;
}

.into-pieces-content h6 {
    height: 52px;
    line-height: 52px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
}

.into-pieces-content .track-body {
    padding: 30px 0 70px 0;
}

.into-pieces-content .tag img {
    height: 7px;
    margin-right: 5px;
}

.into-pieces-content .send-tag img {
    height: 7px;
    margin-left: 5px;
}

.into-pieces-content .track-body li {
    height: 62px;
    text-align: center;
    position: relative;
}

.into-pieces-content .track-body li .unit-cile {
    width: calc(50% + 1.5px);
    height: 45px;
    border-right: 3px dotted #31B7EF;;
}

.into-pieces-content .track-body li:before {
    display: inline-block;
    content: "";
    width: 11px;
    height: 11px;
    background: #31B7EF;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.tag {
    width: 366px;
    position: absolute;
    background-color: #DFF6FF;
    margin-top: -54px;
    right: 54%;
    color: #333333;
    font-size: 12px;
}

.tag p:first-child,
.send-tag p:first-child {
    height: 40px;
    line-height: 40px;
    color: #333333;
    padding: 0 5px;
}

.tag p.content,
.send-tag p.content {
    line-height: 20px;
    color: #999999;
    text-align: left;
}

.send-tag p:first-child {
    height: 35px;
    line-height: 35px;
    color: #333333;
}

.tag a,
.send-tag a {
    margin-left: 10px;
    color: #FF7318;
    font-weight: bold;
}

.tag:before {
    content: "";
    display: block;
    position: absolute;
    font-size: 0;
    line-height: 0;
    border-width: 0px 0px 20px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #DFF6FF;
    margin-left: 366px;
}

.send-tag {
    width: 380px;
    position: absolute;
    background-color: #DFF6FF;
    margin-top: -54px;
    left: 54%;
    color: #333333;
    font-size: 12px;
}

.send-tag:before {
    content: "";
    display: block;
    position: absolute;
    font-size: 0;
    line-height: 0;
    border-width: 0px 37px 20px 0px;
    border-style: solid;
    border-color: transparent #DFF6FF transparent transparent;
    left: -35px;
}

li:nth-of-type(odd) .send-tag {
    display: none;
}

li:nth-of-type(even) .tag {
    display: none;
}

.track-body .content {
    display: none;
    max-height: 85px;
    overflow: hidden;
}

.track-body .process-content {
    background-color: #DFF6FF;
    text-align: left;
}
.track-body .process-content p{
   padding: 0 15px;
}

