.bsdForm{
    paddding:0!important;
}
.modal .bsdForm .form-group > div,
.modal .bsdForm .form-group-sel > div.selBox {
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
}
.modal .bsdForm tbody tr > td{
	 line-height: 29px;
}


.modal .bsdForm .form-group-sel > div.selBox span.input-group-btn .btn {
    line-height: 20px;
    border-radius: 0 !important;
}

.modal .bsdForm .no-border .help-block.help-block-error {
    top: 14px;
}

.modal .radio > span input[type=radio][disabled] {
    left: 21.8px;
    height: 16px;
    width: 15px;
    top: 0.2px;
}
/*摸态框顶部据导航底部0*/
.modal-dialog {
    margin: 60px auto;
}
/*底部按钮居中*/
.modal-footer{
    /*text-align: center !important;*/
}
/*title 距内容40px*/
.modal-body {
    margin-top: 10px;
}
/*模态框输入框*/
.model-input .form-group{
    float: left;
}
.modal .bsdForm .form-group > label.othwi{
    width: 7.1em;
}
.modal .bsdForm .form-group > label {
    width: 7em;
    padding-right: 0px;
}
.modal .bsdForm td.form-group > label {
	margin-left: -64px;
	margin-top: -20px;
}
/*模态框输入框*/
.model-input .form-group {
    float: left;
}

.model-input .form-group > div {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.model-input .form-group > div > input {
    border: none;
}

input.uniform-input {
    background: none;
    width: 100%;
}

.model-input .form-group > label {
    width: 8rem;
    padding-right: 2px;
    text-align: right;
    font-weight: normal;
}

.mt-btn-width {
    float: left;
    padding-left: 10px;
    margin-top: 4px;
}
.modal-content .form-group-sel .selBox span{
    padding-left: 0px!important;
}

