.fill:before {
    content: "*";
    color: #FF0000;
    position: relative;
    top: 2px;
    left: -2px;
}

.form-group {
    margin-bottom: 30px;
}

/* form selfDefine*/
.btn.mainCol:not(.btn-outline),
.btn.mainCol:not(.btn-outline):hover,
.btn.mainCol:not(.btn-outline):focus,
.btn.mainCol:not(.btn-outline):active,
.btn.mainCol:not(.btn-outline):active:focus,
.btn.mainCol:not(.btn-outline):active:hover,
.btn.mainCol:not(.btn-outline):visited{
    background-color: #4486FF;
    border-color: #4486FF;
    border-radius: 2px !important;
    color: #fff;
    padding: 6px 24px;
}
.bsdForm .portlet > .portlet-body{
	padding-top: 30px !important;
}
.search .bsdForm{
	padding-top: 30px;
}
.bsdForm {
    padding: 0px;
    width: 100%;
    margin: 0 auto;
}

.bsdForm .form-group {
    display: inline-block;
    margin-right: 16px;
}

.bsdForm .form-group > label {
    width: 9em;
    text-align: right;
    display: inline-block;
    margin-right: .5em;
    font-weight: normal;
}

.bsdForm .form-group > div
{
    display: inline-block;
    position: relative;
    width: 200px;
    height:30px;
    /*border: 1px solid #D6D6D6;*/
    vertical-align: middle;
}


.bsdForm .form-group-sel > div.selBox > div {
    display: inline-block;
    position: relative;
    width: 200px !important;
    height:30px;
    /*border: 1px solid #ccc;*/
    vertical-align: middle;
}
.bsdForm .form-group-sel > div.selBox > div input{
	/*border: none;*/
}
/*校验不通过边框变红色*/
.bsdForm .form-group.has-error input,.bsdForm .form-group.has-error select{
	border:1px solid #E94D59;
}
.bsdForm .form-group.has-error input.form-control,
.bsdForm .form-group.has-error select.form-control{
	border:1px solid #E94D59;
}
.bsdForm .form-group span.help-block {
    position: absolute;
    bottom: -21px;
    white-space: nowrap;
}
.bsdForm td.form-group span.help-block {
    position: absolute;
    bottom: -16px;
    white-space: nowrap;
}
.bsdForm td.form-group span.help-block {
    /*left: 0px;*/
}

.bsdForm .form-group > div .form-control {
    display: inline-block;
    width: 100%;
    height: 30px;
    border: none;
    padding: 2px 12px;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 1px solid #D6D6D6;
}
.bsdForm .form-group > div .form-control:focus{
	  border: 1px solid #4897DF;
}
.bsdForm .form-group > div > label + input {
    margin-left: 10px;
}

.bsdForm .form-group > div > input[readonly],
.bsdForm .form-group > div > input[disabled],
.bsdForm .form-group select[disabled]{
    background-color: #efefef;
}

.bsdForm .form-group > div > div {
    display: inline-block;
}

.bsdForm .form-group-sel > div.selBox {
    width: 533px;
    border: none;
}

.bsdForm .form-group-sel > div.selBox > span {
    padding-left: 10px;
    padding-right: 10px;
}

.bsdForm .form-group-sel > div.selBox span.input-group-btn {
    display: inline;
    position: absolute;
    top: -2px;
    right: 35px;
}

.bsdForm .form-group-sel > div.selBox span.input-group-btn .btn {
    line-height: 13px;
    border-radius: 0 !important;
    top: 3px;
    right: -4px;
}
.bsdForm .form-group > div > div > select {
    width: 100px;
    height: 30px;
    background-color: #fff;
}


/*lyf form td.input补充*/
 .bsdForm td.form-group{
	display: table-cell;	
	padding-top: 5px;
	padding-bottom: 15px;
	position: relative;
}
.bsdForm .table > tbody > tr > td{
	/*line-height: inherit;*/
}
.bsdForm .table .form-group > div{
	width: auto;
}
.bsdForm .form-group-sel.single > div.selBox{
	width: auto;
}
.bsdForm > .portlet-body.center{
	text-align: center;
}
/*---------修改表单校验的字体颜色--------------*/
.has-error .control-label{
    color: #333;
}
.has-error .form-control{
    border-color: #c2cad8;
}
.control-label .required, .form-group .required {
    color: #333;
}
/*-------------------------------*/


/*radio 样式*/
.mt-radio{
    vertical-align: sub;
}

/*时间选择 只有一个时*/
.bsdForm .form-group-sel > div.dateBox {
    width: 200px !important;
}

/*时间选择框间隔*/
.form-group-sel .selBox span.input-group-btn{
    padding-left: 106px;
    padding-right: 7px;
}
/*-----------------------------*/

/*底部按钮居中*/
.center {
    text-align: center;
    margin-top: 30px;
}
/*按钮上下居中*/
.search .portlet .search-btn-wrap {
    /*line-height: 33px;*/
   padding-bottom: 30px;
}
/*放大镜框样式--- 点击放大镜 弹出模态框*/
.find {
    font-size: 0;
    border: none !important;
}

.line-use .btn-default {
    border-left: 0;
}
.line-use .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.1;
}

/*弹框*/
.mes-list {
    margin-top: 25px;
}
.address > select {
    width: 31.8%;
    border: none;
    height: 28px;
    line-height: 28px;
}
/*2级 省市联动下拉框*/
.address .form-control {
    display: inline-block;
}
.prov_city {
    width: 127px;
}
.city-error + span {
    left: 105px;
    color: #e73d4a;
}
/*单选框校验提示*/
.mt-radio span.help-block.help-block-error {
    background: none;
    left: -10px;
    width: 89px;
    top: 17px;
}
.raidoBox {
    border: none !important;
}


/*搜索框距*/
.portlet{
    margin-bottom: 15px;
}
.line-use .btn:not(.btn-sm):not(.btn-lg){
    line-height: 1.1;
}

/*日历背景色*/
.btn.default:not(.btn-outline) {
    color: #666;
    background-color: #fff;
    border:none;
}
.btn.default:not(.btn-outline).active, .btn.default:not(.btn-outline).focus, .btn.default:not(.btn-outline):active, .btn.default:not(.btn-outline):focus, .btn.default:not(.btn-outline):hover, .open>.btn.default:not(.btn-outline).dropdown-toggle {
    color: #666;
    background-color: #fff;
    border-color: #fff;
}
.btn.default:not(.btn-outline):active:focus{
    background-color: #fff;
    border-color: #fff;
}


label {
    margin-bottom: 0!important;
}
/*title 高度*/
.portlet>.portlet-title>.tools{
	padding: 0px;
	padding-top: 9px;
	text-align: center;
}
/*radio*/
.form-group .radio{
	margin-top: 5px;
}
/*输入框只用来展示的样式*/
td .form-control[disabled]{
	background-color: #fff;
	text-align: center;
}


/*表格内容太多省略显示*/
.pagination-container td .omit{
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow:hidden!important;
    text-overflow:ellipsis!important;
}
.pagination-container td .omit-sm{
    width: 50px;
    white-space: nowrap;
    overflow:hidden!important;
    text-overflow:ellipsis!important;
}

.bsdForm .form-group > div textarea.form-control{
    padding: 0px 15px!important;
    line-height: 28px;
}