.help-block {
    position: absolute;
    top: 22px;
}

.radio-noborder {
    border: none;
}

.pageMarkYn {
    position: relative;
    top: -5px;
    left: 15px;
}

.bsdForm td.form-group {
    padding-bottom: 8px !important;
}

.form-group input {
    text-align: center;
}

.bsdForm td.form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.updateBtn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e7ecf1;
}

.form .form-body {
    padding: 0 !important;
}

.form-group {
    margin-bottom: 12px !important;
}

#content {
    height: 90% !important;
}

.portlet.light {
    padding-bottom: 0 !important;
}

.portlet {
    margin-bottom: 0 !important;
}

.form-actions {
    padding: 10px !important;
}

.portlet.light > .portlet-title > .actions {
    padding: 4px 0 4px !important;
}

.form-group .radio {
    margin-top: -1px !important;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
    max-height: 140px !important;
}

/*
.select2-container{
    top:335px!important;
}*/
body {
    position: static;
!important;
}

#menuFunc .actions {
    float: right;
}

#menuFunc .actions a {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
}

.ui-layout-pane-center {
    overflow-x: hidden !important;
}

.select2 {
    width: 100% !important;
}

#menuFunc .help-block {
    top: 28px;
}
#menuFunc select + span.help-block{
    top:23px;
}

/**/
div.bootstrap-select.js-example-basic-single {
    display: none !important;
}

.select2-selection__arrow:before {
    content: "\f107";
    display: inline-block;
    border: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 7px;
    right: 4px;
}

.select2-selection__arrow b {
    display: none;
}

.btn.green:not(.btn-outline).disabled,
.btn.green:not(.btn-outline).disabled.active,
.btn.green:not(.btn-outline).disabled.focus,
.btn.green:not(.btn-outline).disabled:active,
.btn.green:not(.btn-outline).disabled:focus,
.btn.green:not(.btn-outline).disabled:hover,
.btn.green:not(.btn-outline)[disabled],
.btn.green:not(.btn-outline)[disabled].active,
.btn.green:not(.btn-outline)[disabled].focus,
.btn.green:not(.btn-outline)[disabled]:active,
.btn.green:not(.btn-outline)[disabled]:focus,
.btn.green:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green:not(.btn-outline),
fieldset[disabled] .btn.green:not(.btn-outline).active,
fieldset[disabled] .btn.green:not(.btn-outline).focus,
fieldset[disabled] .btn.green:not(.btn-outline):active,
fieldset[disabled] .btn.green:not(.btn-outline):focus,
fieldset[disabled] .btn.green:not(.btn-outline):hover{
    background-color: #DADADA;
    border-color: #DADADA;
}

.table{
    margin-bottom: 5px!important;
}

label.radio-inline{
    margin-top: 6px!important;
}