.bsdForm .form-group > div.no-border{
    width: 536px;
}
.bsdForm .form-group > div.radioDiv{
    line-height: 29px;
}
.radioBox .checkbox-list > label{
    padding-left: 26px !important;
}
.radioBox .checkbox-list > label input[type=checkbox]{
    margin-top: 7px;
}
