{{{{raw}}}}
<div class="page-sidebar" data-menu-store="menus">
    <ul class="nav nav-single">
        <li class="active" id="showReleased">
            <a href="#haveReleased" data-toggle="tab"> 已发布 </a>
        </li>
        <li id="showNotReleased">
            <a href="#notRelease" data-toggle="tab"> 未发布 </a>
        </li>
        <li id="showDisabledList">
            <a href="#stopped" data-toggle="tab"> 已停用 </a>
        </li>
    </ul>
    <div class="tab-content" style="height: 117px;overflow-y: auto;">
        <div class="tab-pane active" id="haveReleased">
            <div class="icheck-list">
                <label><input type="radio" class="icheck" value="reimburseFlow" data-radio="iradio_minimal-blue" name="haveReleased"> 退款暂停申请</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" value="applyForFlow" data-radio="iradio_minimal-blue" name="haveReleased"> 申请流程</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" value="loanGrantFlow" data-radio="iradio_minimal-blue" name="haveReleased"> 贷款发放流程</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="haveReleased"> 退款暂停申请</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="haveReleased"> 退款暂停申请</label>
            </div>
        </div>
        <div class="tab-pane" id="notRelease">
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="notRelease"> 退款暂停申请22</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="notRelease"> 申请流程22</label>
            </div>
        </div>
	<div class="tab-pane" id="stopped">
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="notRelease"> 退款暂停申请22</label>
            </div>
            <div class="icheck-list">
                <label><input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="notRelease"> 申请流程22</label>
            </div>
        </div>
    </div>
    <ul class="nav nav-single" id="flowAttr">
        <li class="active">
            <a href="#flow" data-toggle="tab"> 流程 </a>
        </li>
        <li>
            <a href="#nodeManagement" data-toggle="tab"> 节点 </a>
        </li>
        <li>
            <a href="#route" data-toggle="tab"> 路由 </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="flow">
            <form class="form-horizontal" id="flowForm" role="form">

                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">流程名称</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">流程描述</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">流程标识</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">流程主表单</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">办理期限</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">预警时间</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">通知间隔</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">通知次数</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">过期处理</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许代办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowCommission"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowCommission"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许转办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTransfer"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowCommission"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许撤办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowWithdrawn"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowWithdrawn"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许退回</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowReturn"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowReturn"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许挂起</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowHangUp"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowHangUp"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许唤醒</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowAwaken"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowAwaken"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许手工催办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-list">-->
                                <!--<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_minimal-blue" name="allowUrge"> 站内信</label>-->
                                <!--<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_minimal-blue" name="allowUrge"> 邮件</label>-->
                                <!--<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_minimal-blue" name="allowUrge"> 短信</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">办后删除</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="deleteIfDid"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="deleteIfDid"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
        <!--节点-->
        <div class="tab-pane" id="nodeManagement">
            <form class="form-horizontal" id="nodeForm" role="form">
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点ID</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点名称</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点类型</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点流向类型</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="flowType"> 一般-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="flowType"> 单选-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点表单</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">编辑权限</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">办理人员指定</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" placeholder="此为多选，控件之后要优化"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">办理岗位指定</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">待办通知</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="todoInform"> 通知-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="todoInform"> 不通知-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许拿回</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTakeBack"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTakeBack"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许转办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTransfer"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTransfer"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许退回</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowReturn"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowReturn"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许打回</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTakeBack"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowTakeBack"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">允许加签</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowEndorse"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowEndorse"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">手工催办</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowUrge"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowUrge"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">节点办理期限</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">通知次数</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">启动过期处理</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowExpireDealing"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" checked data-radio="iradio_minimal-blue" name="allowExpireDealing"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">过期间隔</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">过期处理次数</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">分单策略</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">办理类型</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">是否会签节点</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">会签规则</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">调用子流程（暂不做）</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" disabled name="callSubFlow"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" disabled name="callSubFlow"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">子流程标记（暂不做）</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" disabled> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">抄送控制</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="CopyToControl"> 抄送-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="CopyToControl"> 不抄送-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">抄送对象(此为多选，控件之后要优化)</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" placeholder="此为多选，控件之后要优化">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">动态调用类</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">方法名</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">是否运行脚本</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="input-group">-->
                            <!--<div class="icheck-inline">-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowRunningScript"> 允许-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="allowRunningScript"> 不允许-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">运行脚本</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">运行时间</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
        <div class="tab-pane" id="route">
            <form class="form-horizontal" id="pathForm" role="form">

                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">路由ID</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">路由名称</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">源节点</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">目标节点</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">动态调用类</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">方法名</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<select class="form-control">-->
                            <!--<option>Option 1</option>-->
                            <!--<option>Option 2</option>-->
                            <!--<option>Option 3</option>-->
                            <!--<option>Option 4</option>-->
                            <!--<option>Option 5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">是否运行脚本</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="radio-inline">-->
                            <!--<label class="radio-inline">-->
                                <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="isRunScript"> 是-->
                            <!--</label>-->
                            <!--<label class="radio-inline">-->
                                <!--<input type="radio" class="icheck" data-radio="iradio_minimal-blue" name="isRunScript"> 否-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">运行脚本</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">路由条件</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control input-sm"> </div>-->
                <!--</div>-->
            </form>
        </div>
    </div>

</div>
{{{{/raw}}}}