/**/
.portlet.colEBEBEB>.portlet-title{
	background-color: #ebebeb;
	color: #808080;
	margin-bottom: 0px;
}
.portlet.colEBEBEB>.portlet-title>.caption{
	padding: 7px 20px;
}
.portlet.colEBEBEB>.portlet-title>.tools{
	float: none;
}
.portlet.light>.portlet-title>.tools{
	margin-top: 7px;
}

.portlet.none-border{
	border: none !important;
}
.portlet.light .portlet-body{
	padding: 0px;
}
.portlet.light>.portlet-title>.actions{
	padding-top: 14px;
}
.portlet.light>.portlet-title>.actions>a{
	padding-right: 25px;
}
.table-scrollable{
	margin-top: 0px !important;
}

.page-content-white .page-title {
	margin: 15px 0;
	font-size: 20px;
}


/*.bsdForm .form-group-sel {
	width: 630px!important;
}
.bsdForm .form-group-sel > div.selBox {
	width: 460px;
}*/
/*.bsdForm .form-group-sel > div.selBox div > input {
	width: 110px;
}*/
.input-medium{
	width: 160px!important;
}


.select-only{
	outline: none!important;
}
.portlet.light {
	padding: 0 0px 15px;
}
.radpos>.radio-list{
	padding-top: 3px;
}

/*dictionary*/
.portlet-back{
	background-color: #fff;
	border-bottom: 1px solid #F2F2F2!important;
}
.portlet>.portlet-back>.caption{
	color: #3c3c3c;
	font-size: 14px;
	padding: 0 16px!important;
	line-height: 35px;
	padding-left: 18px;
	font-weight: bolder;
}
.bsdForm-pad{
	padding-top: 30px;
}
.actions-margin{
	margin-right: 30px;
}
/*end*/
