.authfile{
    padding-top:50px!important;
    padding-left: 100px!important;
}
.buildAuth{
    margin-bottom: 30px;
    margin-left: 30px;
}
.buildAuth-btn{
    margin-top: 30px;
    margin-left: 105px;
}