.form-minwid{
	width: 760px;
	margin: 0 auto;
	margin-top: 22px;
}
.bsdForm .left-part{
	float: left;
	border-right:1px dashed #A1A1A1;
}
.bsdForm .form-group{
	margin-right: 30px;
}
.padd0{
	padding: 0px;
}
.bsdForm .right-part{
	float: right;
	width: 388px;
}
.form-minwid .right-part div.form-row{
  display: table;
  margin-bottom: 28px;
}
.form-minwid div.text{
	border: none;
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 30px;
	line-height: 12px;
}
.mar-btom{
	margin-bottom: 0px !important;
}
.ulBox{
	border-bottom: 1px dashed #C4CCCF;
}
.nav-tabs{
	border: none;
	width: 820px;
	margin: 0 auto;
	padding: 0px;
}
.nav-tabs>li{
	display: none;
	width: 0px;
}
.nav-tabs>li > a{
	padding: 0px;
	border: none;
	line-height: 110px;
}
.nav-tabs>li > a > img{
	width: 820px;
}
.nav-tabs>li.active{
	display: block;
}
.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav>li>a:focus, 
.nav>li>a:hover,
.nav-tabs>li.active>a:focus{
	border: none;
}
button[type=button]{
	margin-top: 30px;
	margin-bottom: 30px;
	
}
/*step2*/
.selTerm{
	margin-top: 20px;
}
.selTerm .control-label{
	width: 7em;
	line-height: 35px;
}
.selTerm > label.control-label{
	padding-top: 44px;
}
.sepBox .radioBox{
	/*border: 1px solid #CCCCCC;*/
	border-bottom: none;
}
.radioBox .table > tbody >tr > td{
	line-height:inherit;
	padding-top: 4px;
	padding-bottom:14px;
	/*border-bottom: 1px solid #CCCCCC !important;*/
	position: relative;
}
.radioBox tbody td .form-control{
	display: inline-block;
	width: auto;
}
.radioBox tbody td > span.help-block{
	position: absolute;
	top:36px;
	left: 113px;
	color: #F61A1A;
}

.termRadio > span{
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	/*margin-top: 8px;*/
}
.termRadio > span input[type=radio]{
	margin: 0px;
}

input.uniform-input, input.uniform-input:focus{
	background: none;
}
/*crumbs*/
.icon-pruduct-set{
	background-image: url(../../img/product-set/productSet.png);
}