
.bsdForm .set-form-group  .form-group.gray-a-model div{
    border:none;
}

/* 较大弹出框按钮  */
.bsdForm .set-form-group  .form-group.gray-a-model div a{
    display: block;
    width: 155px;
    height:30px;
    line-height:28px;
    background: #f5f5f5;
    border: 1px solid #dbd8d8;
    box-sizing: border-box;
    text-align: center;
    color: #383535;
}
.bsdForm .set-form-group  .form-group.gray-a-model div a:focus,.bsdForm .set-form-group  .form-group.gray-a-model div a:visited{
    text-decoration: none;
}
/*时间控件超出footer*/
#account-show-body{
    padding-bottom: 150px;
}


