.bsdForm .portlet > .no-pad-top{
padding-top: 0px;
}
.bg-div{
    background: #efefef;
    border:1px solid #D6D6D6;
    display: inline-block;
    width: 80%;
    padding: 5px 12px;
    min-height: 30px;
}
.texterea-form{
    margin-bottom: 30px;
}
.texterea-form label{
    vertical-align: top;
    width: 7em;
    padding-right: 0px;
    text-align: right;
    margin-right: .5em;
}
.bg-div > textarea{
    width: 100% !important;
    height: 160px !important;
    border: none;

}