td a {
    color: #333 !important;
}

td a:hover {
    text-decoration: underline;
}


.page-content,
.portlet.light{
    background-color: #F5F5F5;
}
.portlet.light.bordered {
    border: 0 none !important;
}

/*   设置面包屑图标   */
.icon-index {
    background-image: url(../../img/ci/index/index.png);
}

/*     标签页切换样式覆盖   start     */
.nav-tabs {
    border-bottom: 1px solid #3fafec;
    padding-left: 50px;
}

.nav-tabs > li > a {
    color: #666;
    width: 90px;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #2382c4;
    background-color: #F5F5F5;
    border: 1px solid #3fafec;
    cursor: default;
    border-radius: 12px 12px 0 0 !important;
    border-bottom: 3px solid #f5f5f5;
    position: relative;
    bottom: -1px;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-bottom: 0 none;
}

/*     标签页切换样式覆盖   end     */