table tr td span.error-position{
    margin: 0px;
    text-align: left;
    line-height: 20px;
}


table tr td.has-error{
    padding-top: 5px;
}

.help-block {
    position: inherit;
    display: inherit;
}