.bsdForm .form-group > div textarea.form-control{
    height: auto;
    resize: none;
}
/*Uniform 样式调整*/
div.uploader{
    background-image: none;
    width: 100%;
    height: 30px;
    border:1px solid #D6D6D6;
}
div.uploader span.filename{
    width: 99px;
    margin: 0;
    height: 28px;
    line-height: 28px;
}
div.uploader span.action{
    width: 99px;
    margin: 0;
    line-height: 28px;
    height: 28px;
    background-image: none;
}
.getDate textarea{
    width: 170px !important;
}
.btn-span{
  /*  position: relative;
    top: -25px;*/
    color: #296FF1;
 /*   left: 158px;*/
    cursor:pointer;
}
