.form-group .list-group{
   /* width: 200px;*/
    margin-left: 9.8em;
}
.multi-select{
    overflow: hidden;
}
.multi-select>li{
    float: left;
   /* width: 50%;*/
    padding-right: 35px;
}
.list-group-item{
    position: relative;
}
.list-group-item>.opt{
    position: absolute;
    right: 5px;
}


.bsdForm .form-group > div.radio-noborder{
	border: none!important;
}

.radio-list{
    position: relative;
    top: -2px;
}
.center{
    text-align: center;
    margin-top: 0!important;
}
.text-field{
    display: inline-block;
    position: relative;
    width: 200px;
    /* border: 1px solid #D6D6D6; */
    vertical-align: middle;
}
.line span{
    font-size: 12px;
    color: #e73d4a;
    position: absolute;
    display: block;
}
.line{
    position: relative;
}

#postList li,#roleList li{
    margin-right: 3px;
}


.bsdForm .form-group.has-error input.form-control, .bsdForm .form-group.has-error select.form-control {
    border: 1px solid #D6D6D6!important;
}
.inAll{
    margin-bottom: 10px;
}

.preview{
    display: inline-block;
    position: relative;
    top: 4px;
    left:30px;
}

#previewModal .modal-body{
    max-height: 390px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.mes-list{
    max-height: 185px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
/*
.form-group{
    margin-bottom: 18px!important;
}*/

.table-scrollable{
    overflow-x: auto!important;
}
