.portlet.box>.portlet-title>.actions a{
    display: inline-block;
    border-radius: 5px!important;
    position: relative;
    top:3px;
    color: #ffffff;
    padding: 4px;
    background-color: #13a0dd;
}
a:focus, a:hover {
    text-decoration: none!important;
}