[data-jsform] {
  cursor: pointer;
}
[data-jsform]:hover {
  border: 1px dashed blue;
}
.active[data-jsform] {
  border: 1px solid blue;
}
.fieldActions {
  position: absolute;
  width: 60px !important;
  z-index: 800;
}
.fieldActions .iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: 16px;
  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius: 5px;           /* W3C syntax */
  cursor: pointer;
}
.fieldActions[data-iconfont-type] .faDup {
  margin-right: 15px;
  color: #fff;
  background-color: #31ba42
}
.fieldActions[data-iconfont-type] .faDel {
  color: #fff;
  background-color: #f0483f
}
.fieldActions[data-iconfont-type="main-portlet"] {
  right: 5px;
}
.fieldActions[data-iconfont-type="portlets"] {
  width: 120px !important;
  right: 40px;
}
.fieldActions[data-iconfont-type="portlets"] .faDupRow {
  margin-right: 15px;
  color: #fff;
  background-color: #31ba42
}
.fieldActions[data-iconfont-type="rows"] {
  width: 120px !important;
  right: 40px;
}
.fieldActions[data-iconfont-type="rows"] .faDupCol {
  margin-right: 15px;
  color: #fff;
  background-color: #31ba42
}
.fieldActions[data-iconfont-type="input-group"] {
  right: 10px;
}
.fieldActions[data-iconfont-type="table-portlet"] {
  width: 120px !important;
  right: 10px;
}
.fieldActions[data-iconfont-type="table-portlet"] .faDupTr {
  margin-right: 15px;
  color: #fff;
  background-color: #31ba42
}
.fieldActions.hiddenInputs {
  right: 20px;
  top: 230px;
}