body{
    background-color: #F6F5F6;
}
.page-header .page-header-inner .page-logo {
    position: inherit;
    top: 0;
    margin-top: inherit;
}
.page-header-inner .nav.navbar-nav li a.nav-item {
    width: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.page-content-wrapper .page-content {
    margin-left: 300px;
    background-color: #fff;
    position: relative;
    padding-top: 40px;
}
.page-sidebar{
    width: 300px;
    position: relative;
    top: auto;
    border-right: 1px solid #EEEDEE;
}
.page-sidebar>.tab-content{
    padding: 15px;
    background-color: #F6F5F6;
    overflow-x: auto;
    overflow-y: auto;
    /*max-height: 350px;*/
}
.tab-content .icheck-list:first-child{
    margin-top: 0;
}
.tab-content .icheck-list{
    margin-top: 15px;
}
.nav-single>li{
    margin: 6px 0;
    float: left;
    text-align: center;
    width: 33.33%;
}
.nav-single>li:first-child>a{
    border-left:none;
}
.nav-single>li>a{
    padding: 3px 15px;
    border-left: 1px solid #EEEDEE;
    color: inherit;
}
.nav-single>li.active>a, .nav-single>li.active>a:focus, .nav-single>li.active>a:hover {
    color: #74BDF8;
}
.page-header-inner .nav > li > a.active, .page-header-inner .nav > li > a:focus, .page-header-inner .nav > li > a:hover{
    border-bottom: 3px solid #FDAB54;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}
.bottom-area.affix{
    bottom: 0;
}
.bottom-area{
    width: 100%;
    height: 50px;
    background-color: #FBFAFB;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #F3F2F3;
    padding-left: 320px;
    margin-left: -320px;
}
.bottom-area>.tabbable-line{
    width: 90%;
    margin: 0 auto;
}
.bottom-area>.tabbable-line>.nav-tabs>li{
    width: 19.9%;
}
.bottom-area>.tabbable-line>.nav-tabs>li>a{
    padding: 13px 15px;
    width: 100%;
    text-align: center;
}
.page-footer {
    background-color: #ECEBEC;
}
.bottom-area>.tabbable-line>.nav-tabs>li.active{
    border-color: #FEC58A;
}
.bottom-area>.tabbable-line>.nav-tabs>li.open,
.bottom-area>.tabbable-line>.nav-tabs>li:hover {
    border-color: rgba(255, 193, 138, 0.53);
}
.show-case{
    height: 45px;
    line-height: 45px;
    padding: 0 48px;
    background: url("../../img/index/version.png") 20px center no-repeat #F9F8F9;
    border: 1px solid #EEEDEE;
}
.ui-widget-content{
    border: 1px solid #FDAB54;
    /*border-radius: 5px !important;*/
}
.ui-widget-header{
    border-color: #FDAB54;
    background: #FDAB54;
}
/*解决多选框样式问题*/
.select2-dropdown.select2-dropdown--below{
    margin-top: -60px;
}