.nav-tabs > li > a{
    width:110px;
}
.tab-content{
    background: #fff;
}
.bsdForm{
    background: #fff;
}
.form-row{
    padding:15px 0;
}
.search-btn-wrap{
    padding-bottom:15px;
}
.portlet-list{
    overflow: hidden;
}
.portlet.box>.portlet-title>.caption{
    color: #3c3c3c;
    font-size: 14px;
    padding: 0;
    line-height: 35px;
    font-weight: bold;
}
.portlet>.portlet-body{
    border-top: 1px solid #F2F2F2;
}

.padding-bottom{
    padding-bottom: 15px;
}