.page-content{
    position: relative;
}
.main-page{
    margin-top:-15px;
}
.portlet>.portlet-title, .portlet>.portlet-body{
    width:80%;
    float: right;
}
.cebrinf-tree{
    width:18%;
    background: #fff;
    position: absolute;
    left:20px;
    padding-left: 30px;
    padding-top:30px;
    min-height: 400px;
}
.account-tree li a{
    color: #333;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:27%;
    font-size: 15px;
    line-height: 40px;
    padding-left: 5px;
}