{{{{raw}}}}
<footer>
    <div class="page-footer">
        <div class="page-footer-inner"> 2017 &copy; 找音乐老师后台管理系统.</div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</footer>
{{{{/raw}}}}