.find{
    font-size:14px;
}
.find .line, .find .line-use{
    float: left;
}
.modal .modal-body{
    padding:0 30px 0 40px;
}

.portlet{
   background: #fff;
   padding:15px 0;
 }
td .form-control{
	background-color:#FFF0DF;
	text-align:center;
}
