{{#extend "main"}}

<!-- 页面meta  作者，关键字，描述 -->
{{#content "meta"}}
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta content="" name="keyword"/>
{{/content}}

<!-- 页面 title -->
{{#content "title"}}
<title>{{path.platform}}{{path.subSystem}}-首页</title>
{{/content}}

<!-- css插件 -->
{{#content "css-plugins"}}
<!-- @Override -->
{{/content}}

<!-- 自定义css -->
{{#content "css-main"}}
<!-- @Override -->
<link rel="stylesheet" href="{{path.app}}/css/ci/common-form.css"/>
<link rel="stylesheet" href="{{path.app}}/css/ci/modal-form.css"/>
<link rel="stylesheet" href="{{path.app}}/css/ci/charts-query/charts-query.css"/>
<link rel="stylesheet" href="{{path.app}}/css/ci/common-tools.css"/>
{{/content}}

<!-- 首屏渲染数据js-loader -->
{{#content "js-loader"}}
<!--加载数据字典-->
<script src="{{path.base}}/script/ci/bankindex"></script>
<!-- @Override -->
{{/content}}

<!-- js插件 -->
{{#content "js-plugins"}}

<!--[if lt IE 9]>
<script src="{{path.metronic}}/assets/global/plugins/respond.min.js"></script>
<script src="{{path.metronic}}/assets/global/plugins/excanvas.min.js"></script>
<script src="{{path.metronic}}/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->

<script src="{{path.metronic}}/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="{{path.metronic}}/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<!--饼-->
<script src="{{path.metronic}}/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>

{{/content}}

<!-- 自定义js -->
{{#content "js-main"}}
<!-- @Override -->
<script src="{{path.app}}/js/ci/common/app-context.js"></script>
<script src="{{path.app}}/js/ci/charts-query/charts-query.js"></script>
{{/content}}

<!-- 页面主体 -->
{{#content "content-main"}}
<div class="bsdForm ">
    <div class="portlet box reg">
        <div class="portlet-title">
            <div class="caption">图形报表查询</div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <form  class="" id="chaerts">
                <div class="form-group form-group-sel">
                    <label class="control-label">时间</label>
                    <div class="selBox">
                        <div class="date date-picker date-picker-page" data-date-format="yyyy-dd-mm">
                            <input type="text" class="form-control" name="accessBeginTime" id="accessBeginTime">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                  </span>
                        </div>
                        <span>至</span>
                        <div class="date date-picker date-picker-page" data-date-format="yyyy-dd-mm">
                            <input type="text" class="form-control" name="accessEndTime" id="accessEndTime">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                  </span>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn blue mainCol" id="search-btn">查询</button>
                    <button type="reset" class="btn blue mainCol ">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="portlet box reg box-top">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <span data-counter="counterup" data-value="7800">7800</span>
                            <small class="font-green-sharp">件</small>
                        </h3>
                        <small>通过件数</small>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                            <span class="sr-only">76% </span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> 总比 </div>
                        <div class="status-number"> 76% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">
                            <span data-counter="counterup" data-value="1349">1349</span>
                            <small class="font-green-sharp">件</small>
                        </h3>
                        <small>拒绝件数</small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                            <span class="sr-only">85% 总比</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> 总比 </div>
                        <div class="status-number"> 85% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">
                            <span data-counter="counterup" data-value="567">567</span>
                            <small class="font-green-sharp">件</small>
                        </h3>
                        <small>拒绝件数</small>
                    </div>
                    <div class="icon">
                        <i class="icon-basket"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                            <span class="sr-only">45% grow</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> 总比 </div>
                        <div class="status-number"> 45% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">
                            <span data-counter="counterup" data-value="276">276</span>
                        </h3>
                        <small>人工队列</small>
                    </div>
                    <div class="icon">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                            <span class="sr-only">56% change</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> 总比 </div>
                        <div class="status-number"> 57% </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet box reg box-top">
    <ul class="contrl-charts clearfix">
        <li class="on"><a href="javaScript:;">累计</a></li>
        <li><a href="javaScript:;">周</a></li>
        <li><a href="javaScript:;">月</a></li>
        <li><a href="javaScript:;">年</a></li>
    </ul>
</div>
<div class="line-charts clearfix">
    <div class="set-charts-box">
        <div class="portlet box reg charts1">
            <div class="portlet-title">
                <div class="caption font-green">
                    <span class="caption-subject bold uppercase">日进件情况</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body clearfix">
                <dl class="charhead">
                    <dt>
                        <h3><a target="_blank" href="http://shuju.wdzj.com/industry-list.html">资金方指数</a></h3>
                    </dt>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                </dl>
                <div id="dashboard_amchart_1" class="CSSAnimationChart">
                </div>
            </div>
        </div>
    </div>
    <div class="set-charts-box">
        <div class="portlet box reg charts1">
            <div class="portlet-title">
                <div class="caption font-red">
                    <span class="caption-subject bold uppercase">风险命中情况</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body clearfix">
                <dl class="charhead">
                    <dt>
                        <h3><a target="_blank" href="http://shuju.wdzj.com/industry-list.html">资金方指数</a></h3>
                    </dt>
                    <dd >
                        <a  href="#">杭州华育</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>
                    <dd >
                        <a  href="#">北京银行</a>
                    </dd>


                </dl>
                <div id="dashboard_amchart_3" class="CSSAnimationChart">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line-charts clearfix">
    <!-- 饼状图-->
    <div class="set-charts-box">
        <div class="portlet box reg bg-white">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-green-haze">风险命中分布</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_6" class="chart">
                </div>
            </div>
        </div>
    </div>
    <div class="set-charts-box">
        <div class="portlet box reg bg-white">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-green-haze">商户拒绝排名</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="table_1" class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}

<!-- 搜索按钮组，筛选条件，表格，分页的总容器 -->
{{#content "content-pagination"}}

{{/content}}


<!-- 页面模态框 -->
{{#content "content-free"}}
<!-- @Override -->
{{/content}}

<!-- 页面组件模板 -->
{{#content "content-component"}}
<!--页面列表-->
<script type="text/x-handlebars-template" id="table1-template">
    {{{{raw}}}}
    <dl class="chart-table-left">
        <dt> 拒绝原因 </dt>
        <dd >黑名单</dd>
        <dd >灰名单</dd>
        <dd >反欺诈</dd>
        <dd >信用评估</dd>
        <dd >身份验证</dd>
    </dl>
    <div class="chart-table">
        <table>
            <thead>
            <tr>
                <th>北京华育</th>
                <th>天瑞第安</th>
                <th>杭州华育</th>
                <th>积云教育</th>
                <th>济南壮大</th>
                <th>东方时尚</th>
            </tr>
            </thead>
            <tbody>
            {{#each  content}}
            <tr>
                <td>{{a}}</td>
                <td>{{b}}</td>
                <td>{{c}}</td>
                <td>{{d}}</td>
                <td>{{e}}</td>
                <td>{{f}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{{{/raw}}}}
</script>
{{/content}}

{{/extend}}