/*面包线 背景图*/
.business-processing {
    background-image: url(../../img/mytask/business_handling.png);
}
/*textarea 样式*/
textarea {
    border: 1px solid #ccc;
}
.form-group-sel .input-medium {
    width: 198px!important;
}
/*lh 页面模块间距*/
.search .add-page-form{
    padding-top: 0px;
}


.bsdForm .set-form-group  .form-group.gray-a-model div{
    border:none;
}
.search .add-page-form{
    padding-top: 0px;
}
/* 较大弹出框按钮  */
.bsdForm .set-form-group  .form-group.gray-a-model div a{
    display: block;
    width: 155px;
    height:30px;
    line-height:28px;
    background: #f5f5f5;
    border: 1px solid #dbd8d8;
    box-sizing: border-box;
    text-align: center;
    color: #383535;
}
.bsdForm .set-form-group  .form-group.gray-a-model div a:focus,.bsdForm .set-form-group  .form-group.gray-a-model div a:visited{
    text-decoration: none;
}
/*页面头部跳转标签*/
.url-boxbg{
    /*   background: #fff;*/
    padding-bottom: 10px;
}
.url-boxbg ul{
    background:#fff;
    height: 41px;
    line-height: 41px;
}
.url-boxbg ul li{
    float: left;
    width: 14.28%;
    padding: 0 15px;
}
.url-boxbg ul li a{
    display: block;
    color: #3b3b3b;
    text-align: center;
}
.url-boxbg ul li a:visited,.url-boxbg ul li a:focus{
    text-decoration: none;
}
.url-boxbg ul li.active a{
    border-bottom: 3px solid #FDC587;
    height: 41px;
    color: #FDC587;
}

/*设置多个radio时的宽度*/
.bsdForm .set-row-width{
    width: 100%;
}
.bsdForm .set-row-width div.raidoBox,
.bsdForm .set-row-width div.check-box{
    width: 70%;
}

input.uniform-input{
    color: #333;
}
/*地址样式更新select有关*/
.details-address{
    margin-bottom: 35px;
}
.details-address span.help-block.help-block-error{
  bottom:-28px;
}
.details-address .detail-address{
    display: inline-block;
}
.details-address .address-select{
    display: inline-block;
    width: 200px;
}
.details-address>label {
    width: 10em;
    text-align: right;
    display: inline-block;
    margin-right: .5em;
}
.address {
    display: inline-block;
    position: relative;
}
.address .form-control {
    display: inline-block;
}
.address input {
    width: 350px;
    height: 30px;
    border: 1px solid #c2cad8;
    outline: 0!important;
    padding: 6px 12px;
}
.conSelect{
    border: 1px solid #D6D6D6;
    float: left;
}

.address > .conSelect > div.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 135px;
    float: left;
    padding-left: 0;
}
.address > .conSelect > div.bootstrap-select button{
    border-width: 0;
    height: 28px;
    padding: 0 25px 0 10px;
}
.address > .conSelect > div.bootstrap-select button > span.caret{
    height: 28px;
}
.addressSelect{
    width: 409px !important;
    margin-right: 138px;
}
a.check-hostory-loan{
  width: 160px !important;
    float: right;
}
/*     标签页切换样式覆盖   start     */
.page-content,
.portlet.light{
    background-color: #F5F5F5;
}
.portlet.light.bordered {
    border: 0 none !important;
}

.nav-tabs {
    border-bottom: 1px solid #3fafec;
    padding-left: 50px;
}

.nav-tabs > li > a {
    color: #666;
    width: 90px;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #2382c4;
    background-color: #F5F5F5;
    border: 1px solid #3fafec;
    cursor: default;
    border-radius: 12px 12px 0 0 !important;
    border-bottom: 3px solid #f5f5f5;
    position: relative;
    bottom: -1px;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-bottom: 0 none;
}

/*     标签页切换样式覆盖   end     */
.line span {
    font-size: 12px;
}
.line #agence{
    background: #fff !important;
}
.check-box button{
 padding: 3px !important;
 margin-left: 20px;
}
.check-box.set-tenant-box{
   margin-left: 130px;
    margin-top: 10px;
}
.line img{
    width: 12px;
    height: 13px;
    position: absolute;
    top: 7px;
    left: 140px;
    display: none;
}
.details-address.has-error .conSelect,
.details-address.has-error input{
    border: 1px solid #E94D59;
}

.form-group>div a.add-time,
.form-group>div a.delete-time{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

