
table tr td.has-error{
    padding-top: 5px;
}

.table-scrollable .help-block {
    position: inherit;
    display: inherit;
    margin-top: 23px;
    z-index:2;
    left: -100%;
}

/* */
/*设置 tr 背景色*/
.table-hover>tbody>tr.active {
    border-left: none;
}
.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active
{
    background: #fff;
}
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
    background: #fff;
}
.table-bordered>tbody>tr,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th{
  background: #fff;
}
.hiddenI{
    display: none !important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th{
    border: 1px solid #DEDBDB !important;
}
.table-bordered>tbody>tr.active>td.show-style,
.table-bordered>tfoot>tr.active>td.show-style,
.table-bordered>tfoot>tr.active>th.show-style,
.table-bordered>tbody>tr>td.show-style,
.table-bordered>tfoot>tr>td.show-style,
.table-bordered>tfoot>tr>th.show-style{
    background: #FAFAFA;
}
/*去掉下拉框 输入框边框*/
.table-scrollable .bootstrap-select button,
.table-scrollable .bootstrap-select button:hover,
.table-scrollable .bootstrap-select button:focus,
.table-scrollable .bootstrap-select button:active,
.table-scrollable .bootstrap-select button:visited
{
    border:none !important;
    background: #fff !important;
}
.table-hover>tbody>tr > td input:focus,
.table-hover>tbody>tr > td input{
    border:none;
}
/*错误提示框样式*/
/*.error-position{
    display: block;
    position: absolute;
    border: 1px solid;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px !important;
    z-index: 999;
    top:33px;
}*/
/*tr td .help-block{
     display: block;
     position: absolute;
     border: 1px solid;
     line-height: 30px;
     height: 30px;
     padding: 0 10px;
     border-radius: 2px !important;
     z-index: 999;
     background: #fff;
 }*/
.removeStyle{
    border: none !important;
    background: none !important;
}
.removeStyle:before{
    border:none !important;
}
.removeStyle:after{
    border:none  !important;
}


.table-scrollable {
    padding-bottom: 33px;
}
/*
.error-position:before,
tr td .help-block:before{
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    top: -7px;
    left: 45%;
    z-index: 99999;
}
.error-position:after,
tr td .help-block:after{
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid red;
    border-left: 8px solid transparent;
    position: absolute;
    top: -8px;
    left: 45%;
    z-index: 99998;
}
*/


/*行 选中样式*/
.table-bordered>tbody>tr.active td{
    border-top: 2px solid #659BFF !important;
    border-bottom: 2px solid #659BFF !important;
}
.table-bordered>tbody>tr.active td:first-child{
    background: rgba(252,171,82,0.10);
    border:1px solid #DEDBDB  !important;
}
.table-bordered>tbody>tr.active td:nth-child(2){
    border-left:2px solid #659BFF !important;
}
.table-bordered>tbody>tr.active td:last-child{
    border-right:2px solid #659BFF !important;
}

/*备注*/
.comment{
    width: 200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.table-scrollable>.table {
    width:calc(100% - 1px) !important;
    width: -moz-calc(100% - 1px) !important;
    width: -webkit-calc(100% - 1px) !important;
}
.show-co{
    display: block;
    width:200px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/*非 列表页面*/
.bsdForm td.form-group{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}