/*

.bsdForm .portlet > .portlet-title {
    background-color: #eaebeb;
    position: relative;
}
.bsdForm .portlet>.portlet-title>.caption{
    color: #3c3c3c;
    font-size: 14px;
    padding: 0;
    line-height: 3;
}
.bsdForm .form-group > div{
  margin-bottom: 2px;
}
.bsdForm .date-picker-page span.input-group-btn{
    display: inline;
    position: absolute;
    top: 0px;
    right: 36px;
}
.bsdForm .form-group > div > input[readonly] {
    background-color: #fff;
}

.center{
    text-align: center;
}

input.uniform-input, select.uniform-multiselect, textarea.uniform{
    background-image: none!important;
    background-color: #ffffff;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

.tableBody input{
    text-align: center;
}
*/
.table tbody tr td.form-group label {
    top: 2px;
}