{{{{raw}}}}
<div id="chgloginpwd-modal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-edit"></i> <strong><span
                        id="chgloginpwd-msg">修改登录密码</span>（{{loginUser.loginName}}）</strong>
                </h4>
            </div>
            <div class="modal-body form">
                <form id="edit-user-passwd" action="{{base}}/profile/change-login-password" role="form"
                      class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">原登录密码 <span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" name="plainOldPassword" class="form-control"
                                       data-rule-required="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">新登录密码 <span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" name="plainNewPassword" id="password"
                                       class="form-control passwordCheck" data-rule-required="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">新密码确认 <span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" name="plainNewPassword_" class="form-control"
                                       data-rule-equalto="#password" data-msg-equalto="两次密码不一致"
                                       data-rule-required="1">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn btn-success">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{{{/raw}}}}