{{#extend "main"}}

<!-- css-plugins BEGIN -->
{{#content "css-plugins"}}
<!-- @Override -->
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
{{/content}}
<!-- css-plugins END -->

<!-- css-main BEGIN -->
{{#content "css-main"}}
<!-- @Override -->
{{/content}}
<!-- css-main END -->

<!-- js-loader BEGIN -->
{{#content "js-loader"}}
<!-- @Override -->
<script src="{{path.base}}/script/testexample.js"></script>
{{/content}}
<!-- js-plugins BEGIN -->
{{#content "js-plugins"}}
<!-- @Override -->
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="{{path.app}}/js/bpm/bpm.js"></script>
{{/content}}
<!-- js-plugins END -->

<!-- js-main BEGIN -->
{{#content "js-main"}}
<!-- @Override -->
<script src="{{path.app}}/js/bpm/testexample-edit.js"></script>
{{/content}}
<!-- js-main END -->

<!-- content-pagination BEGIN -->
{{#content "content-pagination"}}
<!-- @Override -->
{{/content}}

<!-- content-main BEGIN -->
{{#content "content-main"}}
<div class="">
  <div class="">
    <div class="">
      <div class="col-md-12">
        <div id="main-form" class="portlet-body">
          <form id="apply-form" action="/apply/create" method="post" data-page-content-id="" data-view-idname="apply_id" data-update-url="/apply/update" data-create-url="/apply/create" data-view-url="/apply/view/{apply_id}">
            <input type="hidden" name="id" readonly/>
            <div class="form-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">申请人</span>
                      <input type="text" name="userName" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" style="border-right: 1px solid #ccc">起止日期</span>
                      <div class="col-md-9">
                        <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                        <input type="text" name="leaveSDate" class="form-control">
                        <span class="input-group-addon"> 至 </span>
                        <input type="text" name="leaveEDate" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">请假原因</span>
                      <textarea name="leaveReason" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div id="opinion-container"></div>
        </div>
        <div class="modal-footer">
    
          <button type="button" class="btn btn-info save">保存</button>
          <button type="button" class="btn btn-success submit">提交</button>
          <!--<button type="button" class="btn btn-primary rollback">退回</button>
          <button type="button" class="btn btn-primary beforeissue">前加签</button>
          <button type="button" class="btn btn-primary afterissue">后加签</button>
          <button type="button" class="btn btn-primary transfertask">转办</button>
          <button type="button" class="btn btn-warning cancel" id="cancelTask">取消</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- @Override -->
{{/content}}
<!-- content-main END -->
{{/extend}}