{{#extend "main"}}

<!-- css-plugins BEGIN -->
{{#content "css-plugins"}}
<!-- @Override -->
{{/content}}
<!-- css-plugins END -->

<!-- css-main BEGIN -->
{{#content "css-main"}}
<!-- @Override -->
{{/content}}
<!-- css-main END -->

<!-- js-loader BEGIN -->
{{#content "js-loader"}}
<!-- @Override -->
{{/content}}
<!-- js-plugins BEGIN -->
{{#content "js-plugins"}}
<!-- @Override -->
{{/content}}
<!-- js-plugins END -->

<!-- js-main BEGIN -->
{{#content "js-main"}}
<!-- @Override -->
<script>
  window.open(app.base + '/bpm/bpm-editor.html');
  window.history.go(-1);
</script>
{{/content}}
<!-- js-main END -->

<!-- content-pagination BEGIN -->
{{#content "content-pagination"}}
<!-- @Override -->
{{/content}}

<!-- content-main BEGIN -->
{{#content "content-main"}}
<!-- @Override -->
{{/content}}
<!-- content-main END -->
{{/extend}}