{{{{raw}}}}
    <div id="pageModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div data-modal-size class="modal-dialog">
            <div class="modal-content">
                <div data-modal-header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 data-modal-title class="modal-title">提示</h4>
                </div>
                <div data-modal-body class="modal-body">
                    <p data-modal-text>这是模态框！</p>
                </div>
                <div data-modal-footer class="modal-footer">
                    <button data-modal-cancel type="button" data-dismiss="modal" class="btn btn-outline dark">取消</button>
                    <button data-modal-ok type="button" class="btn blue">确定</button>
                </div>
            </div>
        </div>
    </div>
{{{{/raw}}}}