/*crumbs*/
.icon-pruduct-set{
	background-image: url(../../img/product-set/productSet.png);
}
.w2em {
    width: 2em !important;
}

.bsdForm .form-group-sel > div.selBox > span {
    padding: 16px;
}