a:hover {
  text-decoration: none;
}

.page-header.navbar {
  background-color: #4486FF;
  /*  background-image: url(../img/header-mgi.png);*/
  background-repeat: repeat no-repeat;
  height: 60px;
  min-height: 60px;
}

.page-header-fixed .page-container {
  margin-top: 59px;
}


/*无导航时占用空间*/

.page-header .page-header-inner {
  height: 60px;
}

.page-header .page-header-inner .page-logo {
  float: left;
  display: block;
  padding-left: 10px;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 50%;
  margin-top: -31px;
  overflow: hidden;
}

.page-header .page-header-inner .logo-text {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  margin-left: 26px;
  height: 100%;
  line-height: 60px;
  position: relative;
  font-family: "Microsoft YaHei";
}

.page-header .page-header-inner .logo-text:after {
  content: '';
  display: block;
  height: 29px;
  width: 0.8px;
  background-color: #fff;
  position: absolute;
  left: -13px;
  top: 18px;
}

.page-header-inner a.nav-item,
.page-header-inner .nav-item {
  color: #fff;
  font-size: 14px;
  padding: 0 !important;
  height: 60px;
  line-height: 95px !important;
  width: 85px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 24px;
  /*padding-left: 10px !important;
    padding-right: 10px !important;*/
}

.page-header-inner .nav> li> a.active,
.page-header-inner .nav> li> a:focus,
.page-header-inner .nav> li> a.active:hover,
.page-header-inner .nav> li> a:hover {
  background-color: #296FF1;
  border-bottom: 2px solid #FB8430;
}

.page-header-inner .nav> li> a:hover {
  border: none;
}

.page-header-inner .nav-index {
  background-image: url(../img/nav/nav-index.png);
}

.page-header-inner .nav-task {
  background-image: url(../img/nav/nav-task.png);
}

.page-header-inner .nav-custom {
  background-image: url(../img/nav/nav-custom.png);
}

.page-header-inner .nav-before {
  background-image: url(../img/nav/nav-before.png);
}

.page-header-inner .nav-middle {
  background-image: url(../img/nav/nav-middle.png);
}

.page-header-inner .nav-after {
  background-image: url(../img/nav/nav-after.png);
}

.page-header-inner .nav-warn {
  background-image: url(../img/nav/nav-warn.png);
}

.page-header-inner .nav-system {
  background-image: url(../img/nav/nav-system.png);
}

.page-header-inner .nav.navbar-nav {
  margin-right: 10px;
}

.page-header-inner .nav.navbar-nav li a.nav-item {
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.page-header .user-status {
  /*height: 36px;*/
  /*   line-height: 36px;*/
  background-color: transparent;
  /*  margin-top: 60px;*/
  /*  padding-right: 44px;*/
}

.page-header .user-status p {
  font-size: 0;
  color: #666666;
}

.page-header .user-status span {
  font-size: 12px;
  margin-right: 10px;
}

.page-header .user-status a {
  font-size: 14px;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
  padding: 0 10px;
  width: inherit;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
  font-size: 14px;
  text-align: center;
  width: 185px;
  height: 58px;
  line-height: 58px;
  background-color: #fff;
  cursor: pointer;
  background-image: url(../img/left-menu/cart-left.png);
  background-position: 150px center;
  color: #333 !important;
  margin-top: 0 !important;
  float: left;
  opacity: 1;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler {
  font-size: 0;
  width: 36px;
  background-position: center;
}

.user-logout {
  background-image: url(../img/nav/exit.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 24px;
}

.user-status-img {
  background-image: url(../img/nav/user.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 24px;
  background-size: contain;
}

.page-sidebar-closed .page-sidebar,
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
  width: 36px !important;
  background-color: #ececec;
}

.page-sidebar {
  width: 185px;
  float: left;
  margin-right: -100%;
  background-color: #fff !important;
  bottom: 0;
  /*position: fixed;
    top: 118px;
    z-index: 2;*/
}

.page-footer {
  padding: 8px 20px 5px;
  font-size: 13px;
  height: 33px;
  position: relative;
  z-index: 3;
  background-color: #656565;
  text-align: center;
}


/*底部文字居中lyf*/

.page-footer .page-footer-inner {
  float: none;
  color: #fff;
}

.page-sidebar .page-sidebar-menu> li> a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li> a {
  background-color: #f1f1f1 !important;
  padding: 0;
  cursor: pointer;
  color: #666 !important;
  text-align: center;
  font-weight: normal;
}

.page-sidebar .page-sidebar-menu> li> a:hover {
  color: #FCAB53 !important;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu .nav-item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  margin-top: 3px;
}

.nav-item i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: 5px;
  left: -14px;
}

.icon-my-task {
  background-image: url(../img/left-menu/icon-my-task.png);
}

.page-sidebar .page-sidebar-menu> li> a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li> a {
  border-top: 0 none !important;
}

.page-header-inner .nav-item .nav-link:hover,
.page-header-inner .nav-item.open .nav-link:hover {
  color: #fff !important;
  background: #7EACFF !important;
}

.main-menu> li:hover> .sub-menu li:hover> div> .sub-menu>.nav-item.open .nav-link:hover,
.main-menu> li:hover> .sub-menu li:hover> div> .sub-menu>.nav-item .nav-link:hover {
  background: #A3C4FF !important;
}

.nav-item .nav-link:hover .icon-my-task,
.nav-item.open .nav-link:hover .icon-my-task {
  background-image: url(../img/left-menu/icon-my-task-hover.png);
}

.page-sidebar-closed .nav-item i {
  left: 0 !important;
}

.nav-item a {
  padding: 0 !important;
  text-align: center !important;
  line-height: 58px;
  height: 58px;
}

.page-sidebar .page-sidebar-menu .sub-menu> li.active> a,
.page-sidebar .page-sidebar-menu .sub-menu> li.open> a,
.page-sidebar .page-sidebar-menu .sub-menu> li:hover> a,
.page-sidebar-closed .page-sidebar:hover .page-sidebar-menu .sub-menu> li.active> a,
.page-sidebar-closed .page-sidebar:hover .page-sidebar-menu .sub-menu> li.open> a,
.page-sidebar-closed .page-sidebar:hover .page-sidebar-menu .sub-menu> li:hover> a {
  background: #d8d8d8 !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed> li:hover {
  width: 185px !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed> li:hover> a> i {
  margin-right: 0;
}

.page-sidebar-fixed .page-sidebar {
  position: fixed !important;
  margin-left: 0;
  top: 212px;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed> li> a {
  padding-left: 0;
}

.page-content-wrapper .page-content {
  margin-left: 185px;
}

.page-sidebar-closed .page-content-wrapper .page-content {
  margin-left: 36px !important;
}

.page-sidebar-menu-hover-submenu li:hover> .sub-menu {
  background: #f1f1f1 !important;
}

.page-sidebar-menu-hover-submenu li:hover> .sub-menu span {
  color: #3084c6;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu> li:hover .sub-menu {
  margin-left: 200px;
  margin-top: -85px;
  box-shadow: 5px 5px rgba(44, 53, 66, .2);
}

.main-menu> li {
  margin-left: 4px;
}

.main-menu> li> .sub-menu {
  display: none;
  position: absolute;
  left: 0;
}

.main-menu> li .sub-menu li .sub-menu {
  display: block;
}

.main-menu> li:last-child> .sub-menu {
  position: absolute;
  /*right: 0;*/
  left: -95px;
}

.main-menu> li:hover> .sub-menu,
.main-menu> li:hover> .sub-menu li:hover> .slimScrollDiv {
  display: block;
  /*box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.10);*/
  border-radius: 2px;
  /*width: 185px;*/
  /*  border: 1px solid #E4E8F5;*/
  padding-bottom: 2px;
  padding-top: 5px;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu,
.main-menu> li.main-active> .sub-menu li.sub-active> .slimScrollDiv {
  display: block;
  /*box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.10);*/
  border-radius: 2px;
  /*width: 185px;*/
  /*  border: 1px solid #E4E8F5;*/
  padding-bottom: 2px;
  padding-top: 5px;
}

.main-menu> li:hover> .sub-menu {
  background: #629AFF !important;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu {
  background: #629AFF !important;
}

.main-menu> li:hover> .sub-menu li:hover> .sub-menu,
.main-menu> li:hover> .sub-menu li:hover> div> .sub-menu {
  background: #7EACFF !important;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu li.sub-active> .sub-menu,
.main-menu> li.main-active> .sub-menu li.sub-active> div> .sub-menu {
  background: #7EACFF !important;
}

.main-menu> li:hover> .sub-menu li:hover> div {
  right: 184px;
  top: -42px;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu li.sub-active> div {
  right: 184px;
  top: -42px;
}


/*zq*/


/*.main-menu > li:hover > .sub-menu li:hover > .sub-menu {
    top: 10px;
    right: 370px;
}*/

.main-menu> li:hover> .sub-menu li:hover> .sub-menu {
  left: -187px;
  /*left: -175px;*/
  top: -1px;
  /* right: 185px;*/
}


/*menu class*/

.main-menu> li.main-active> .sub-menu li.sub-active> .sub-menu {
  left: -187px;
  /*left: -175px;*/
  top: -1px;
  /* right: 185px;*/
}

.main-menu> li .sub-menu .nav-item {
  line-height: 1 !important;
  width: 185px;
  height: 36px;
  position: relative;
  margin: 2px;
  margin-left: 0px;
}

.main-menu> li .sub-menu .nav-item a {
  width: inherit;
  text-align: center;
  display: block;
  line-height: 36px !important;
  height: 38px;
  color: #A3C4FF;
}

.main-menu> li .sub-menu .nav-item a .title {
  font-size: 14px;
  color: #fff !important;
}

.main-menu> li:hover> .sub-menu li:hover> div> .sub-menu,
.main-menu> li:hover> .sub-menu li:hover> .sub-menu {
  max-height: 388px;
  overflow-y: auto;
  overflow-x: hidden;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu li.sub-active> div> .sub-menu,
.main-menu> li.main-active> .sub-menu li.sub-active> .sub-menu {
  max-height: 388px;
  overflow-y: auto;
  overflow-x: hidden;
}


/*   分页样式重置   start   */

.table-scrollable {
  margin-bottom: 0px !important;
}

.table-pager {
  position: static;
  top: 0px;
  padding-top: 30px;
}

.pagination> .disabled> a,
.pagination> .disabled> a:focus,
.pagination> .disabled> a:hover,
.pagination> .disabled> span,
.pagination> .disabled> span:focus,
.pagination> .disabled> span:hover {
  color: #999;
}

.pagination>li {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}

.col-md-7 .set-num {
  display: inline-block;
  border: 1px solid #DFDFE8;
  width: 62px;
  height: 24px;
  text-align: center;
  padding-right: 20px;
}

.col-md-7 #set_pageNum {
  position: absolute;
  margin-left: -22px;
  line-height: 21px;
}

.col-md-7 span:last-child {
  margin-left: 16px;
}

.pagination .active> a,
.pagination .active> a:hover {
  width: 24px;
  height: 24px;
  background: #FDC587;
  color: #fff;
  line-height: 24px;
}

.pagination> li> a,
.pagination> li> span {
  color: #333;
}

.pagination> li> a,
.pagination> li> span {
  padding: 10px 17px;
}


/*   分页样式重置   end   */


/*   总体表格样式覆盖   start   */

.table> thead> tr> td,
.table> thead> tr> th {
  font-size: 14px !important;
  font-weight: normal;
  color: #333;
  border-bottom: 1px solid #e3e3e3 !important;
  padding: 0;
  border: 0 none !important;
  text-align: center;
  line-height: 35px;
}

.table> tbody> tr> td,
.table> tbody> tr> th,
.table> tfoot> tr> td,
.table> tfoot> tr> th,
.table> thead> tr> td,
.table> thead> tr> th {
  height: 40px;
  /*line-height: 30px;*/
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border: 0 none !important;
  font-size: 12px;
}

.table> tbody> tr> th,
.table> tfoot> tr> th,
.table> thead> tr> th {
  line-height: 35px;
}

.table-scrollable {
  border: 0 none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-hover>tbody>tr:hover,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
  background: rgba(252, 171, 83, 0.1);
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
  background: rgba(252, 171, 83, 0.1);
}

.table-hover>tbody>tr.active {
  border-left: 4px solid #FCAB53;
}


/*   总体表格样式覆盖   end   */


/*   面包屑组件css start   */

.page-crumbs {
  /*height: 50px;*/
  line-height: 40px;
  position: relative;
}

.page-crumbs dl+div {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 4;
}

.page-crumbs a {
  color: #4d4c4c;
  line-height: 30px;
}


/*面包线第一级颜色二期优化lyf*/

.page-crumbs dt a {
  color: #808090;
  font-weight: bold;
}

.page-crumbs a:hover {
  text-decoration: underline;
}

.login-info a:hover,
.login-info a:active,
.login-info a:focus {
  text-decoration: none;
}

.page-crumbs dt {
  background-repeat: no-repeat;
  -webkit-background-size: 27px;
  background-size: 22px;
  padding-left: 2em;
  background-position: 0 4px;
  background-image: none !important;
}

.page-crumbs dt,
.page-crumbs dd {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}

.page-crumbs dd {
  margin-left: 1em;
}

.page-crumbs dd:last-child a {
  color: #2382c4;
}

.page-crumbs dd:before {
  content: '>';
  display: inline-block;
  position: relative;
  left: -10px;
  color: #9c9999;
}


/*   面包屑组件css end   */


/*   筛选折叠样式  start   */

.portlet> .portlet-title> .tools> a.collapse {
  /*    background-image: url(../img/portlet-expand-icon.png) !important;*/
  background-image: url(../img/zhankai.png) !important;
}

.portlet> .portlet-title> .tools> a.expand {
  /*  background-image: url(../img/portlet-collapse-icon.png) !important;*/
  background-image: url(../img/shouqi.png) !important;
}

.search .portlet> .portlet-title {
  background-color: #fff;
  position: relative;
  /*border-bottom: 1px solid #F2F2F2;*/
  font-weight: bold;
}

.search .portlet> .portlet-body {
  border-top: 1px solid #F2F2F2;
}


/*.search .portlet .search-btn-wrap {
    position: absolute;
    top: 4px;
    right: 20px;
}*/

.search .portlet .search-btn-wrap .btn {
  font-weight: normal;
}

.search .portlet> .portlet-title> .tools {
  float: left;
  margin-left: 14px;
  line-height: 30px;
  padding-top: 15px;
}

.search .portlet> .portlet-title> .caption {
  color: #3c3c3c;
  font-size: 14px;
  padding: 0;
  line-height: 35px;
  padding-left: 18px;
}

.search .portlet> .portlet-title> .actions a {
  margin-right: 1em;
}


/*title高度*/

.portlet>.portlet-title {
  min-height: 35px!important;
}

.portlet.box>.portlet-title>.actions {
  padding: 2px 0 2px;
}

.portlet> .portlet-title> .actions a {
  margin-right: 1em;
}

.portlet> .portlet-body {
  padding: 0 !important;
}

.search td label {
  display: block;
  cursor: pointer;
}


/*   筛选折叠样式  end   */

@media (max-width: 991px) {
  .page-header.navbar {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .page-header.navbar .page-logo img {
    margin-left: 10px !important;
  }
}

.page-content-wrapper .page-content {
  padding: 0 20px 10px;
  background-color: #f5f5f5
}

.portlet.light {
  padding: 0 20px 15px;
}


/*   没有边框   */

.no-border {
  border: 0 none !important;
}


/*   radio下的radio样式   */

.form-group .radio-inline {
  line-height: 28px;
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 10px;
}

.form-group .radio-inline input[type=radio] {
  position: static;
  margin: 0px;
}


/* 模态框 圆角*/

.modal-content {
  border-radius: 2px !important;
}


/*   模态框样式覆盖  start   */

.modal .modal-header {
  border-bottom: 0 none;
  background: #B4CFFF;
  padding: 12px 15px 12px 30px;
  border-top-right-radius: 2px !important;
  border-top-left-radius: 2px !important;
}


/*-----模态框最小尺寸------*/

@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    margin: 30px auto;
  }
  .modal-sm {
    width: 400px !important;
  }
}


/*内容部分重新设置大小*/

.modal .modal-body {
  padding: 30px 30px 0px 30px;
}


/*底部按钮居中*/

.modal-footer {
  text-align: right !important;
  padding: 10px 20px 30px 20px;
}


/*确定按钮*/

.btn.blue:not(.btn-outline),
.btn.blue:not(.btn-outline).active,
.btn.blue:not(.btn-outline).focus,
.btn.blue:not(.btn-outline):active,
.btn.blue:not(.btn-outline):focus,
.btn.blue:not(.btn-outline):hover,
.btn.blue:not(.btn-outline):visited,
.open>.btn.blue:not(.btn-outline).dropdown-toggle {
  background: #FDC587;
  border: none;
  border-radius: 2px;
  color: #fff;
}


/*按钮失效 样式*/

.btn.blue:not(.btn-outline)[disabled],
.btn.blue:not(.btn-outline)[disabled]:hover {
  background: #FDC587;
  border: none;
}

.btn.blue:not(.btn-outline).active.focus,
.btn.blue:not(.btn-outline).active:focus,
.btn.blue:not(.btn-outline).active:hover,
.btn.blue:not(.btn-outline):active.focus,
.btn.blue:not(.btn-outline):active:focus,
.btn.blue:not(.btn-outline):active:hover,
.open>.btn.blue:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:hover {
  background: #FDC587;
  /*  border: 1px solid #D19655;*/
  border: none;
  border-radius: 3px;
  color: #fff;
}


/*取消*/

.btn.btn-outline.dark,
.btn.btn-outline.dark.active,
.btn.btn-outline.dark:active,
.btn.btn-outline.dark:active:focus,
.btn.btn-outline.dark:active:hover,
.btn.btn-outline.dark:focus,
.btn.btn-outline.dark:hover {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 3px;
  color: #333333;
}

.modal .btn {
  border-radius: 6px !important;
  padding: 4px 12px;
}

.modal-header .modal-title {
  font-size: 14px;
  color: #004EE1;
  font-weight: bold;
}

.close {
  width: 18px;
  height: 18px;
  background-image: url(../img/close_nor.png) !important;
}

.close:hover {
  background-image: url(../img/close_click.png) !important;
}


/*   模态框样式覆盖  end   */


/*   必填项红色星号   */

.required-asterisk:after {
  content: '*';
  color: #e73d4a;
  font-size: 14px;
  position: relative;
  top: 5px;
  left: -2px;
  font-style: normal;
}


/*   禁用响应式  start   */

@media (max-width: 991px) {
  body {
    overflow: auto !important;
  }
  .page-content-wrapper .page-content {
    margin-left: 185px !important;
    padding: 0 20px 10px !important;
    margin-top: 36px !important;
    margin-right: 0 !important;
    min-height: inherit;
  }
  .page-sidebar {
    margin: 0;
  }
  .page-header.navbar .menu-toggler.sidebar-toggler {
    display: block !important;
  }
  .page-header .main-menu> li {
    float: left;
  }
  .page-header .navbar-nav {
    margin: auto;
  }
}

#mainPage .table-scrollable {
  min-height: 350px;
}

#mainPage .table-scrollable img {
  margin-top: 35px;
}

#mainPage .table-scrollable p {
  font-size: 16px;
  color: #333333;
  margin-top: 10px!important;
}


/*   禁用响应式  end   */


/*lyf 自定义公共样式*/

.portlet.box.reg>.portlet-title {
  background-color: #F5F7FF;
  margin-bottom: 0px;
  min-height: 35px !important;
  border-bottom: 1px solid #F2F2F2;
  font-weight: bold;
  margin: 10px 15px 0px 15px;
}

.portlet.box.reg>.portlet-title>.caption {
  padding: 0px;
  font-size: 14px;
  color: #3c3c3c;
  line-height: 35px;
  padding-left: 0px;
}

.modal-body .portlet.box.reg>.portlet-title>.caption {
  border-bottom: 2px solid #FF7716;
}

.modal-body .portlet.box>.portlet-title {
  padding: 0px;
  margin-left: 10px;
}

.modal-footer {
  border: none;
}

.portlet> .portlet-title> .tools {
  float: none;
}

.portlet.none-border {
  border: none !important;
}

.table-scrollable {
  margin-top: 0px !important;
  padding-bottom: 5px;
  text-align: center;
}


/*a.check:hover{
  color: #FDC587 !important;
}*/

input.uniform-input.active,
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  background: none;
  background-color: #fff;
}

.table-scrollable .table> tbody> tr> td,
.table-scrollable .table> thead> tr> th {
  padding-left: 10px;
  padding-right: 10px;
}


/*注释掉原有的竖线*/


/*.page-header .user-status span:nth-child(2):after, .page-header .user-status span:nth-child(3):after {
    content: '';
    display: inline-block;
    border-left: 1px solid #3084c6;
    height: 16px;
    vertical-align: sub;
    margin-left: 10px;
}*/


/*td a 超链接*/

table tr td a {
  /*color: #3b3b3b !important;*/
  color: #FDC587 !important;
}

table tr td a:hover {
  color: #FDC587 !important;
  text-decoration: underline;
}


/*分页统一样式*/

.table-pager {
  top: 20px;
}

.table-pager .pagination {
  margin: 0px;
}

.table-pager div.col-md-5 {
  display: none;
}

.table-pager div.col-md-7 div {
  float: left;
}

.table-pager div.col-md-7 div span {
  vertical-align: middle;
}

.table-pager ul.pull-right {
  float: right;
}

.table-pager div.col-sm-12 {
  float: none;
  width: 100%;
  /*text-align: center;*/
}


/*.table-pager ul.pagination{
	float: none !important;
}*/

.table-pager ul.pagination li.prev,
.table-pager ul.pagination li.next {
  /*display: none;*/
}

.table-pager ul.pagination li.prev a,
.table-pager ul.pagination li.next a,
.table-pager ul.pagination li.goPage a {
  border: 1px solid #DFDFE8;
  width: 24px;
  -webkit-border-radius: 0px !important;
  line-height: 18px;
}

.table-pager ul.pagination li.goPage a {
  width: 34px;
  height: 24px;
  line-height: 16px;
  -webkit-border-radius: 4px !important;
}

.table-pager ul.pagination li.prev a img,
.table-pager ul.pagination li.next a img {
  vertical-align: baseline;
}

.pagination>li>a,
.pagination>li>span {
  padding: 0px;
  display: inline-block;
  width: 15px;
  height: 18px;
  text-align: center;
  /*   line-height: 34px;*/
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  color: #838383;
  border: none;
}

.pagination>li>input,
.pagination>li>input:focus {
  display: inline-block;
  border: 1px solid #DFDFE8;
  width: 50px;
  height: 24px;
  text-align: center;
  float: left;
  outline: none;
}

.pagination>li>i {
  float: left;
  font-weight: normal;
  font-style: normal;
}


/*全局搜索 箭头修改lyf*/

.searchPortlet.portlet>.portlet-title>.tools>a {
  height: 30px;
  font-weight: normal;
  color: #659BFF;
  padding-right: 26px;
  width: auto;
  background-position-x: 83px;
}

.searchPortlet.portlet>.portlet-title>.tools>a:hover {
  text-decoration: underline;
}

.searchPortlet.portlet>.portlet-title>.tools>a.expand {
  background-image: url(../img/searchHide.png) !important;
}

.searchPortlet.portlet>.portlet-title>.tools>a.collapse {
  background-image: url(../img/searchShow.png) !important;
}

/*排除列表页title*/
.search .portlet.box.reg>.portlet-title{
  background-color: #fff;
  margin: 0px;
  padding-left: 20px;
}
.allSearchBox {
  background-color: #fff;
  padding: 15px 0px 17px 0px;
  float: left;
  margin-left: 20px;
}

.allsearch {
  position: relative;
}

.allsearch input.uniform-input {
  width: 263px;
  height: 30px;
  float: left;
  padding-left: 10px;
}

.allsearch button {
  background-color: #fff;
  text-align: center;
  border: none;
  padding: 0px;
  position: absolute;
  right: 3px;
  top: 6px;
}

.allsearch button img {
  /*padding-left: -30px;*/
}


/*readonly和disabled的输入项统一颜色efefef*/

input[disabled],
input[readonly],
select[disabled],
textarea[disabled],
textarea[readonly] {
  background-color: #efefef !important;
}

input[type=radio].form-control[readonly] {
  opacity: 0;
}

input:focus {
  border: 1px solid #4897DF;
}


/*输入框展示字体12*/

.form-control,
output {
  font-size: 12px;
  color: #333;
}

.form-control {
  height: 30px;
  border: 1px solid #D6D6D6;
}

.form-control:focus {
  border: 1px solid #4897DF;
}


/*输入框带单位*/

.find {
  font-size: 0;
  border: none !important;
}

.line {
  width: 80%;
  /*border: 1px solid #ccc;*/
}

.line-yuan {
  display: inline-block;
}

.unit {
  font-size: 12px;
  margin-left: 15px;
  vertical-align: middle;
}

.clearWidth {
  width: 75% !important;
}


/*全局搜索个别样式*/

input.uniform-input {
  border: 1px solid #D6D6D6;
}

input.uniform-input:focus {
  border: 1px solid #4897DF;
}


/* radio行高*/

.table tbody tr td.form-group label {
  position: absolute;
  top: 15px;
  left: 0px;
  text-align: center;
}


/*@media screen and (-ms-high-contrast:none){.table tbody tr td.form-group label{margin-top:-7px;} }/*IE中的按钮*/

/*登录信息 lxq*/
.login-info {
  width: 155px;
  text-align: center;
  margin-top: 1px;
}

.login-info a span {
  display: inline-block;
  background: url("/static/app/1.0.0/img/Triangle2.png") no-repeat;
  background-position: right;
  padding-right: 20px;
  min-width: 48px;
}

.set-login-bg {
  background-color:#4486FF;
}

.set-login-bg a span {
  color: #fff;
  background: url("/static/app/1.0.0/img/Triangle1.png") no-repeat;
  background-position: right;
  padding-right: 20px;
  min-width: 48px;
}

.login-info ul li:last-child{
  background-color:#296FF1;
}
.login-info ul li,
.login-info ul li a {
  line-height: 3;
  font-size: 12px;
  color: #D8E1E7;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.login-info ul li a:hover,
.login-info ul li a:hover {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.login-info ul li:first-child a {
  border-top: 1px dashed #D8E1E7;
  color: #fff;
}
.login-info ul li:nth-child(3) a {
  border-bottom: 1px dashed #D8E1E7;
}

.login-info ul li:last-child a {
  color: #FFF;
}

.login-info img {
  width: 30px;
  height: 30px;
}

.login-info ul li.li-time {
  line-height: 1.5;
  padding-bottom: 5px;
  padding-top: 6px;
}

.nav-item img {
  position: relative;
  top: -28px;
  left: 7px;
}
/*日历选中样式*/

.datepicker table tr td.today,
.datepicker table tr td.today:hover {
  background-color: #ED7C8C !important;
  border-color: #ED7C8C !important;
}

.datepicker table tr td {
  border-radius: 50% !important;
}


/*button[disabled]*/
/*

.btn[disabled] {
  cursor: pointer;
}
*/


/* 操作 返回 提示 start */


/* 提示框位置 */

#toast-container.toast-top-center {
  top: 140px;
  margin-left: 5px;
}


/* 提示框样式 */

#toast-container.toast-top-center>div,
#toast-container.toast-bottom-center>div {
  width: 178px !important;
  margin: auto;
  border-radius: 4px !important;
  font-size: 16px;
  padding-left: 60px;
}

#toast-container>.toast-success {
  background-image: url("/static/app/1.0.0/img/success.png") !important;
}

#toast-container>.toast-error {
  background-image: url("/static/app/1.0.0/img/error.png") !important;
}

.toast-success {
  background: #DFF0D7;
  border: 1px solid #C7E3B0;
  color: #3A773A !important;
}

.toast-error {
  background: #F2DEDE;
  border: 1px solid #E4B1B9;
  color: #AC4542 !important;
}


/* 操作 返回 提示 end */


/* 列表页面 icon 鼠标悬浮高亮 start*/

.portlet-title>div>a {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}


/*加号*/

a.add-sign {
  background-image: url("../img/icon/add_icon_nor.png") !important;
}

a.add-sign:hover {
  background-image: url("../img/icon/add_icon_sel.png") !important;
}


/*修改*/

a.update-sign {
  background-image: url("../img/icon/xiugai_icon_nor.png")!important;
}

a.update-sign:hover {
  background-image: url("../img/icon/xiugai_icon_sel.png") !important;
}


/*删除*/

a.delete-sign {
  background-image: url("../img/icon/delete_icon_nor.png") !important;
}

a.delete-sign:hover {
  background-image: url("../img/icon/delete_icon_sel.png") !important;
}


/* 重置 */

a.chongzhi-sign {
  background-image: url("../img/icon/chongzhi_icon_nor.png") !important;
}

a.chongzhi-sign:hover {
  background-image: url("../img/icon/chongzhi_icon_sel.png") !important;
}


/*退回*/

a.tuihui-sign {
  background-image: url("../img/icon/tuihui_icon_nor.png") !important;
}

a.tuihui-sign:hover {
  background-image: url("../img/icon/tuihui_icon_sel.png") !important;
}


/* 挂起 */

a.guaqi-sign {
  background-image: url("../img/icon/guaqi_icon_nor.png") !important;
}

a.guaqi-sign:hover {
  background-image: url("../img/icon/guaqi_icon_sel.png") !important;
}


/*激活*/

a.jihuo-sign {
  background-image: url("../img/icon/jihuo_icon_nor.png") !important;
}

a.jihuo-sign:hover {
  background-image: url("../img/icon/jihuo_icon_sel.png") !important;
}


/* 审批进件统计 */

a.jinjiantongji-sign {
  background-image: url("../img/icon/shenpijinjiantongji_icon_nor.png") !important;
}

a.jinjiantongji-sign:hover {
  background-image: url("../img/icon/shenpijinjiantongji_icon_sel.png") !important;
}


/* 查看*/

a.chakan-sign {
  background-image: url("../img/icon/chakan_icon_nor.png") !important;
}

a.chakan-sign:hover {
  background-image: url("../img/icon/chakan_icon_sel.png") !important;
}


/*重新放款*/

a.chongxinfangkuan-sign {
  background-image: url("../img/icon/chongxinfangkuan_icon_nor.png") !important;
}

a.chongxinfangkuan-sign:hover {
  background-image: url("../img/icon/chongxinfangkuan_icon_sel.png") !important;
}


/*促销方案*/

a.cuxiaofangan-sign {
  background-image: url("../img/icon/cuxiaofangan_icon_nor.png") !important;
}

a.cuxiaofangan-sign:hover {
  background-image: url("../img/icon/cuxiaofangan_icon_sel.png") !important;
}


/*打印借据*/

a.dayinjieju-sign {
  background-image: url("../img/icon/dayinjieju_icon_nor.png") !important;
}

a.dayinjieju-sign:hover {
  background-image: url("../img/icon/dayinjieju_icon_sel.png") !important;
}


/*into*/

a.into-sign {
  background-image: url("../img/icon/into_icon_nor.png") !important;
}

a.into-sign:hover {
  background-image: url("../img/icon/into_icon_sel.png") !important;
}


/*remove*/

a.remove-sign {
  background-image: url("../img/icon/remove_icon_nor.png") !important;
}

a.remove-sign:hover {
  background-image: url("../img/icon/remove_icon_sel.png") !important;
}


/*借据预览*/

a.jiejuyulan-sign {
  background-image: url("../img/icon/jiejuyulan_icon_nor.png") !important;
}

a.jiejuyulan-sign:hover {
  background-image: url("../img/icon/jiejuyulan_icon_sel.png") !important;
}


/*拿回*/

a.nahui-sign {
  background-image: url("../img/icon/nahui_icon_nor.png") !important;
}

a.nahui-sign:hover {
  background-image: url("../img/icon/nahui_icon_sel.png") !important;
}


/*失效*/

a.shixiao-sign {
  background-image: url("../img/icon/shixiao_icon_nor.png") !important;
}

a.shixiao-sign:hover {
  background-image: url("../img/icon/shixiao_icon_sel.png") !important;
}


/*详情*/

a.xiangqing-sign {
  background-image: url("../img/icon/xiangqing_icon_nor.png") !important;
}

a.xiangqing-sign:hover {
  background-image: url("../img/icon/xiangqing_icon_sel.png") !important;
}


/*复制*/

a.copy-sign {
  background-image: url("../img/icon/copy_icon_nor.png") !important;
}

a.copy-sign:hover {
  background-image: url("../img/icon/copy_icon_sel.png") !important;
}


/*下移*/

a.dwon-sign {
  background-image: url("../img/icon/dwon_icon_nor.png") !important;
}

a.dwon-sign:hover {
  background-image: url("../img/icon/dwon_icon_sel.png") !important;
}


/*上移*/

a.up-sign {
  background-image: url("../img/icon/up_icon_nor.png") !important;
}

a.up-sign:hover {
  background-image: url("../img/icon/up_icon_sel.png") !important;
}


/*保存*/

a.save-sign {
  background-image: url("../img/icon/save_icon_nor.png") !important;
}

a.save-sign:hover {
  background-image: url("../img/icon/save_icon_sel.png") !important;
}


/*刷新*/

a.Refresh-sign {
  background-image: url("../img/icon/Refresh_icon_nor.png") !important;
}

a.Refresh-sign:hover {
  background-image: url("../img/icon/Refresh_icon_sel.png") !important;
}


/*作废*/

a.unUse-sign {
  background-image: url("../img/icon/zuofei_icon_nor.png") !important;
}

a.unUse-sign:hover {
  background-image: url("../img/icon/zuofei_icon_sel.png") !important;
}

/*工单配置*/

a.workorderSet {
  background-image: url("../img/icon/gongdanshezhi_icon_nor.png") !important;
}

a.workorderSet:hover {
  background-image: url("../img/icon/gongdanshezhi_icon_sel.png") !important;
}

/*工单调配*/
a.gongdandiaopei-sign {
  background-image: url("../img/icon/gongdandiaopei_icon_nor.png") !important;
}
a.gongdandiaopei-sign:hover {
  background-image: url("../img/icon/gongdandiaopei_icon_sel.png") !important;
}
/*工单分配*/
a.gongdanfenpei-sign {
  background-image: url("../img/icon/gongdanfenpei_icon_nor.png") !important;
}
a.gongdanfenpei-sign:hover {
  background-image: url("../img/icon/gongdanfenpei_icon_sel.png") !important;
}
/*李娜disabled的时候图片替换*/

/*新增*/
a.add-sign-disabled {
  background-image: url("../img/icon/add_icon_disabled.png") !important;
}
/*修改*/
a.update-sign-disabled{
  background-image: url("../img/icon/xiugai_icon_disabled.png") !important;
}
/*删除*/
a.delete-sign-disabled{
  background-image: url("../img/icon/delete_icon_disabled.png") !important;
}
/*重置*/
a.chongzhi-sign-disabled {
  background-image: url("../img/icon/chongzhi_icon_disabled.png") !important;
}
/*激活*/
a.jihuo-sign-disabled {
  background-image: url("../img/icon/jihuo_icon_disabled.png") !important;
}
/*失效*/
a.shixiao-sign-disabled {
  background-image: url("../img/icon/shixiao_icon_disabled.png") !important;
}
/*工单配置*/
a.workorderSet-disabled{
  background-image: url("../img/icon/gongdanshezhi_icon_disabled.png") !important;
}
/*复制*/
a.copy-sign-disabled {
  background-image: url("../img/icon/copy_icon_disabled.png") !important;
}
/*保存*/
a.save-sign-disabled {
  background-image: url("../img/icon/save_icon_disabled.png") !important;
}

/*作废*/
a.unUse-sign-disabled {
  background-image: url("../img/icon/zuofei_icon_disabled.png") !important;
}
/*查看*/
a.xiangqing-sign-disabled {
  background-image: url("../img/icon/xiangqing_icon_disabled.png") !important;
}
/*挂起*/
a.guaqi-sign-disabled {
  background-image: url("../img/icon/guaqi_icon_disabled.png") !important;
}

/*工单分配*/
a.gongdanfenpei-sign-disabled {
  background-image: url("../img/icon/gongdanfenpei_icon_disabled.png") !important;
}
/*工单调配*/
a.gongdandiaopei-sign-disabled {
  background-image: url("../img/icon/gongdandiaopei_icon_disabled.png") !important;
}
/*促销配置*/
a.cuxiaofangan-sign-disabled {
  background-image: url("../img/icon/cuxiaofangan_icon_disabled.png") !important;
}

/*调额*/
a.adjust-amount-disabled {
  background-image: url("../img/icon/tiaoe__icon_disabled.png") !important;
}
/*冻解*/
a.freeze-disabled {
  background-image: url("../img/icon/dongjie_icon_disabled.png") !important;
}
/*解冻*/
a.unfreeze-disabled {
  background-image: url("../img/icon/jiedong_icon_disabled.png") !important;
}

/*调额*/
a.adjust-amount{
  background-image: url("../img/icon/tiaoe__icon_nor.png") !important;
}
a.adjust-amount:hover{
  background-image: url("../img/icon/tiaoe_icon_sel.png") !important;
}
/*冻解*/
a.freeze{
  background-image: url("../img/icon/dongjie_icon_nor.png") !important;
}
a.freeze:hover{
  background-image: url("../img/icon/dongjie_icon_sel copy .png") !important;
}
/*解冻*/
a.unfreeze{
  background-image: url("../img/icon/jiedong_icon_nor.png") !important;
}
a.unfreeze:hover{
  background-image: url("../img/icon/jiedong_icon_sel.png") !important;
}

/* 列表页面 icon 鼠标悬浮高亮 end*/


/* 新加模糊查询样式*/

.inputDiv {
  /*display: none;*/
  float: left;
}

.inputDiv>a {
  text-align: center;
  border: none;
  padding: 0px;
  position: absolute;
  top: 6px;
  right: 232px;
}


/*为元素实现单位*/

.control-label.month:after {
  content: '(月)';
}

.unitY:after {
  content: '(元)';
}


/*ln 校验提示颜色设置*/

.help-block {
  color: #e73d4a;
  position: absolute;
}


/*lh 解决表格输入框校验信息与td重合*/

.bsdForm td.form-group span.help-block {
  bottom: -5px !important;
}


/*unifrom wkd*/

div.uploader {
  width: auto;
}


/*ie 输入后显示 × 处理 wkd*/

input[type=text]::-ms-clear {
  display: none;
}


/*lh 时间输入框背景色*/

.date-picker-page input[readonly],
.propInput input[readonly] {
  background-color: #fff !important;
}

.setTimeGray .date-picker-page input[readonly],
.setTimeGray .propInput input[readonly] {
  background-color: #efefef !important;
}


/*lh 修改导航*/

.main-menu> li .sub-menu .nav-item a img {
  position: static;
  float: left;
  width: 8px;
  height: 13px;
  margin-top: 12px;
  margin-left: 13px;
}


/*列表页面背景色 白色*/

.pagination-container {
  background: #fff;
  padding-bottom: 30px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}


/*导航*/

.main-menu .slimScrollDiv {
  display: none;
}

.main-menu> li:hover> .sub-menu li:hover> div> .sub-menu {
  padding-top: 8px;
  padding-bottom: 6px;
  margin-top: -5px;
}


/*menu class*/

.main-menu> li.main-active> .sub-menu li.sub-active> div> .sub-menu {
  padding-top: 8px;
  padding-bottom: 6px;
  margin-top: -5px;
}


/*bootstrap select插件样式覆盖wkd*/
.bootstrap-select.btn-group>.dropdown-menu:after,
.bootstrap-select.dropdown-toggle>.dropdown-menu:after,
.bootstrap-select.dropdown>.dropdown-menu:after{
  border-width: 0;
}
.bootstrap-select.btn-group>.dropdown-menu:before,
.bootstrap-select.dropdown-toggle>.dropdown-menu:before,
.bootstrap-select.dropdown>.dropdown-menu:before{
  border-width: 0;
}
/* bootstrap-select box 错误提示*/
.bsdForm td.form-group > .bootstrap-select.btn-group > span.help-block {
  bottom: -21px !important;
}
#bootstrap-select-box{
  position: relative;
  top: -60px;
}
.bootstrap-select .dropdown-menu {
  z-index: 1000!important;
  max-width: 200px;
}
.bsdForm .form-group> div.bootstrap-select.open> div.dropdown-menu {
  display: block;
}
.bsdForm .form-group> div.bootstrap-select> div.dropdown-menu {
  display: none;
}
.bootstrap-select > button.dropdown-toggle > span {
  height: 28px;
  font-size: 12px;
  color: #555;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  line-height: 28px;
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
  border-color: #E94D59;
}

.bsdForm .form-group> div .bootstrap-select.form-control {
  padding: 0;
  border-width: 0;
}

.bootstrap-select.form-control button {
  height: 30px;
  padding: 0 25px 0 12px;
  font-size: 12px;
  margin: 0;
  color: #555;
  border-radius: 0!important;
  border-color: #D6D6D6;
}

.bootstrap-select.disabled button.disabled {
  border-radius: 0!important;
  color: #333;
  border-color: #D6D6D6;
  background-color: #efefef !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  opacity: 1;
}
.bsdForm .table .form-group> div.bootstrap-select {
  width: 100% !important;
}

/*右侧内容区白色背景lyf:面包线下面的第二个div 1023*/
.page-content > div:nth-child(2):not(.search){
  background-color: #FFF;
  border: 1px solid transparent;
}

/* ln */
.modal .search-pic{
  position: relative;
  left: 505px;
  top: -3px;
}
.modal-body form.query-form{
  padding-top: 20px;
  position: absolute;
  top: -10px;
  left: 80px;
  z-index: 999;
  width: 600px;
  background: #fff;
  border: #eee solid;
  display: none;
}

.modal-body .search{
  width: 380px;
  margin: 0 auto;
}
.modal-body .btn-right{
  text-align: center;
  margin-bottom: 20px;
}
.modal .mes-list{
  margin-top: 0px;!important;
}

/*lh*/
.noDataTbody{
  background-image: url("../img/icon/nothing.png");
  background-repeat: no-repeat;
  background-size: 268px 235px;
  background-position: center  ;
}

/*lyf textarea限制大小*/
textarea{
  width: 210px !important;
  height: 46px !important;
}
.bsdForm .form-group textarea+span.help-block{
  bottom: -37px;
}
/*lh 设置下拉框属性disabled 时置灰*/
/**/
div[disabled] .btn-default{
  background-color:#efefef !important;
}

/*lyf虚线*/
.visualLine{
  border-bottom: 1px dashed black;
}
