.mian-cont{
    background-color: #ffffff;
    padding-bottom: 60px;
}
.cont-header h1{
    font-size: 16px;
    font-weight: bold;
    color: #797979;
    padding-left: 30px;
    line-height: 40px;
    border-bottom: 1px solid #F2F2F2;;
}
.change-pwd{
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
}
.change-pwd .form-group > label{
    width: 10em;
    text-align: right;
    display: inline-block;
    margin-right: .5em;
    font-weight: normal;
}
.change-pwd .form-group{
    margin-bottom: 20px;
}
.change-pwd .form-group > div{
    display: inline-block;
    width: 200px;
    height: 30px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
}
.change-pwd .form-group > div .form-control {
    display: inline-block;
    width: 100%;
    height: 28px;
    border: none;
    padding: 2px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.submit-btn{
    margin-top: 35px;
    margin-left: 11em;
}
.submit-btn button{
    background-color: #13a0dd;
    border-color: #13A0DD;
    border-radius: 5px !important;
    color: #ffffff;
}
.submit-btn .btn{
    color: #ffffff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    color: #ffffff;
}
