.btn.btn-outline.green:disabled{
    border-color: #dddddd!important;
    color: #dddddd!important;
    background: 0 0;
}

.portlet.light>.portlet-title>.actions{
    position: fixed;
    left: 89%;
}