/*crumbs*/
.icon-pruduct-set{
	background-image: url(../../img/product-set/productSet.png);
}
td.td-radio .raidoBox{
display: inline-block;
}
td.td-radio .raidoBox .radio{
	display: inline-block;
}


.line img{
	width: 12px;
	height: 13px;
	position: absolute;
	top: 7px;
	left: 140px;
	display: none;
}
.line {
	width:auto;
}
label.mt-radio{
	width: 60px;
}
/*div.checker span.checked {
	background-position: -76px -252px;
}*/
.bsdForm .form-group > div.radio{
	line-height: 47px;
}
.mt-radio{
	vertical-align: bottom;
}