/*进件历史 样式*/
.into-pieces-box{
    width: 100%;
    background: #fff;
    padding-bottom: 10px;
}
.into-title{
    line-height: 40px;
    color: #f9af77;
    padding-left: 50px;
}
.into-Advance{
    padding-left: 110px;
}
.into-Advance div{
    display: inline-block;
    vertical-align: middle;
}

.into-Advance span {
    font-size: 20px;
    vertical-align: sub;
}
.green{
    color: #7dbf55;
}
.gray{
    color: #999999;
}
/*hr*/
hr.success-line {
    border-top: 1px dashed #7dbf55;
}
hr {
    width: 100px;
    height: 1px;
    border: none;
    border-top: 1px dashed #a0a0a0;
    display: inline-block;
    vertical-align: middle;
}
.into-Advance img{
    display: none;
    height:38px;
}
/*图片显示*/
.finish-end img:nth-child(1){
    display: block;
}
.ongoing img:nth-child(2){
    display: block;
}
.no-start img:nth-child(3){
    display: block;
}
/*描述信息*/
ul.history-information{
    padding-left: 90px;
}
ul.history-information li{
    float: left;
    font-size:12px;
    margin-left: 100px;
}
ul.history-information li:nth-child(1){
    margin: 0;
}
ul.history-information li> h3{
    font-weight: normal;
    text-align: center;
    line-height: 2;
}
ul.history-information li span{
    text-align: center;
    display: block;
}
/*进件历史进程*/
.into-information-advance{
    padding-left: 140px;
    padding-top: 35px;
    background: #fff;
    margin-top: 10px;
}
.into-information-advance ul{
    float: left;
}

ul.advance-time li{
    line-height: 3;
}
ul.advance-time span:nth-child(2){
    padding-left: 10px;
}



ul.advance-circle{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
ul.advance-circle li span{
    display: block;
}
ul.advance-circle li span:nth-child(1){
    width: 10px;
    height:10px;
    -moz-border-radius:50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #d8d8d8;
}
ul.advance-circle li span:nth-child(2){
    border-left: 1px solid #d8d8d8;
    height: 25px;
    width: 1px;
    margin-left: 42%;
}
ul.advance-circle li.ongoing-circle span:nth-child(1){
    width: 20px;
    height:20px;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 1px solid #e4383b;
}


/*jindong*/
.track-list li {
    position: relative;
    padding: 9px 0 0 25px;
    line-height: 18px;
    color: #333;
}
.track-list {
    margin: 20px;
    padding-left: 5px;
    padding-left: 70px;
    position: relative;
    padding-top: 20px;
}
.track-list li {
    position: relative;
    padding: 9px 0 0 25px;
    line-height: 18px;
    color: #333;
}

.track-list li.first {
    color: #e4393c;
    line-height: 25px;
}
 .track-list li.first .node-icon {
    background-position: 0 -72px;
}
.track-list li .node-icon {
    position: absolute;
    left: -6px;
    top: 50%;
    width: 11px;
    height: 11px;
    background: url(//misc.360buyimg.com/user/order/0.0.1/css/i/order-icons.png) -21px -72px no-repeat;
}
 i {
    font-style: normal;
}
.track-list li .time {
    margin-right: 20px;
}
 .track-list li .time, .order-track .track-list li .txt {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
li .txt {
    max-width: 640px;
}
li .txt:before {
    content: "";
    height:100%;
    position: relative;
    border-left: 1px solid #d9d9d9;
    margin-top: 20px;
    left: -12px;
    top: 19px;
}
li:last-child .txt:before{
    content: "";
    border: none;
}
.track-list li .node-icon {
    position: absolute;
    left: 150px;
    top:15px;
    width: 11px;
    height: 11px;
    background: url(//misc.360buyimg.com/user/order/0.0.1/css/i/order-icons.png) -21px -72px no-repeat;
}
/*显示详细信息*/
.track-list li>div{
    width: 600px;
    margin-left: 130px;
    padding:  10px 20px;
    color: #3b3b3b;
    display: none;
    border-left:1px solid #d9d9d9 ;
}
.track-list li>div span{
    display: inline-block;
    min-width: 250px;
}
.bg-show{
    background:#E1E1E1;
}